title = "Admissions"
url = "/admissions"
layout = "base/web"
is_hidden = 0
==
<section class="page-title parallax parallax2" style="background-position: 30% 40px;background-image: url({{ url('/') }}{{'bgs/bg.jpeg' | media}});">
	<div class="title-heading">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="box-title style1">
						<h1>
							{{ 'Admissions' |_ }}
						</h1>
						<div class="breadcrumbs">
							<ul>
								<li>
									<a href="{{ url('/') }}" title="">
										{{ 'word_home' |_ }}
									</a>
									<i class="fa fa-angle-right" aria-hidden="true"></i>
								</li>
								<li>
									<a title="">{{ 'Admissions' |_ }}</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="overlay-black"></div>
</section>

<section class="flat-iconbox-1">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-12">
				<div class="iconbox left style1 v3 border-bottom">
					<div class="box-header">
						<div class="icon mb-3">
							<h3>
								1
							</h3>
						</div>
						<div class="box-title">
							<a href="#" title="">{{'Leave a request on the website' | _ }}</a>
						</div>
					</div>
					<div class="box-content">
						<p>
							{% content 'admission/step1' %}
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-12">
				<div class="iconbox left style1 v3 border-bottom">
					<div class="box-header">
						<div class="icon mb-3">
							<h3>
								2
							</h3>
						</div>
						<div class="box-title">
							<a href="#" title="">{{'Register for an examination' | _ }}</a>
						</div>
					</div>
					<div class="box-content">
						<p>
							{% content 'admission/step2' %}
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-12">
				<div class="iconbox left style1 v3 border-bottom">
					<div class="box-header">
						<div class="icon mb-3">
							<h3>
								3
							</h3>
						</div>
						<div class="box-title">
							<a href="#" title="">{{'Interview' | _ }}</a>
						</div>
					</div>
					<div class="box-content">
						<p>
							{% content 'admission/step3' %}
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-12">
				<div class="iconbox left style1 v3 border-bottom">
					<div class="box-header">
						<div class="icon mb-3">
							<h3>
								4
							</h3>
						</div>
						<div class="box-title">
							<a href="#" title="">{{'Collect documents' | _ }}</a>
						</div>
					</div>
					<div class="box-content">
						<p>
							{% content 'admission/step4' %}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="flat-jobs">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="main-jobs">
					<div class="header-jobs">
						<div class="jobs-title">
							<h2>{{'DOCUMENTS FOR ADMISSION' |_ }}</h2>
						</div>
					</div>
					<div class="content-jobs">
						<div class="box-jobs">
							<p>
								{% content 'admission/documents' %}
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="flat-actions style3 bg-green" style="display:none;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="call-action style3 bg-transparent">
					<div class="text-action float-left">
						<h4 class="color-white font-weight-3">{{'Have questions?' | _ }}</h4>
						<p>{{'Have questions? description' | _ }}</p>
					</div>
					<div class="form-action float-right">
						<a href="{{ url('/')}}/contact-us" class="btn btn-primary color-white">{{ 'Contact us' |_ }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% partial 'callonaction' %}