title = "Accreditation"
url = "/accreditation"
layout = "base/web"
is_hidden = 0

[viewBag]
localeTitle[ru] = "Аккредитация"
localeTitle[kz] = "Аккредитация"
localeUrl[ru] = "/accreditation"
localeUrl[kz] = "/accreditation"

[newsSmallPosts]
pageNumber = "{{ :page }}"
postsPerPage = 3
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
postFeatured = 0
postPage = 404
categoryPage = 404
==
<section class="page-title parallax parallax2" style="background-position: 30% 40px;background-image: url({{ url('/') }}{{'bgs/bg.jpeg' | media}});">
	<div class="title-heading">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="box-title style1">
						<h1>
							{{ 'Accreditation' |_ }}
						</h1>
						<p class="sub-title">
							{% content 'accreditation/main' %}
						</p>
						<div class="breadcrumbs pt-4">
							<ul>
								<li>
									<a href="{{ url('/') }}" title="">
										{{ 'word_home' |_ }}
									</a>
									<i class="fa fa-angle-right" aria-hidden="true"></i>
								</li>
								<li>
									<a title="">{{ 'Accreditation' |_ }}</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="overlay-black"></div>
</section>

<section class="flat-row">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="flat-title left">
					<h3 class="font-weight-3">
						{{ 'Accreditation' |_ }}
					</h3>
				</div>
				<div class="accordion">
					<div class="accordion-toggle">
						<div class="toggle-title active">
							{{ 'BILIM ORDA International Social Foundation' | _ }}
						</div>
						<div class="toggle-content">
							<p>
								{% content 'accreditation/bilimorda' %}
							</p>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="accordion-toggle">
						<div class="toggle-title">
							{{ 'Cambridge International Examinations (CIE)' | _ }}
						</div>
						<div class="toggle-content">
							<p>
								{% content 'accreditation/cie' %}
							</p>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="accordion-toggle">
						<div class="toggle-title">
							{{ 'Council of International Schools (CIS)' | _ }}
						</div>
						<div class="toggle-content">
							<p>
								{% content 'accreditation/cis' %}
							</p>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="accordion-toggle">
						<div class="toggle-title">
							{{ 'New England Association of Schools and Colleges (NEASC)' | _ }}
						</div>
						<div class="toggle-content">
							<p>
								{% content 'accreditation/neasc' %}
							</p>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="accordion-toggle">
						<div class="toggle-title">
							{{ 'The Educational Collaborative for International Schools (ECIS)' | _ }}
						</div>
						<div class="toggle-content">
							<p>
								{% content 'accreditation/ecis' %}
							</p>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="accordion-toggle">
						<div class="toggle-title">
							{{ 'Cambridge English Language Assessment' | _ }}
						</div>
						<div class="toggle-content">
							<p>
								{% content 'accreditation/cela' %}
							</p>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="accordion-toggle">
						<div class="toggle-title">
							{{ 'SAT Test Center' | _ }}
						</div>
						<div class="toggle-content">
							<p>
								{% content 'accreditation/sat' %}
							</p>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="accordion-toggle">
						<div class="toggle-title">
							{{ 'Recognition by the Government of the Republic of Kazakhstan' | _ }}
						</div>
						<div class="toggle-content">
							<p>
								{% content 'accreditation/kazgov' %}
							</p>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="history-video">
					<div class="flat-video-fancybox">
                        <img src="{{ url('/') }}{{ 'all/bg4.jpg' | media }}" class="border-radius-5" alt="images">
                    </div>
				</div>
			</div>
		</div>
	</div>
</section>

<style type="text/css">
	h6{
		line-height: 22px !important;
	}
</style>