title = "alevel"
url = "/alevel"
layout = "base/web"
is_hidden = 0
==
<section class="page-title parallax parallax2" style="background-position: 30% 40px;background-image: url({{ url('/') }}{{'bgs/bg.jpeg' | media}});">
	<div class="title-heading">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="box-title style1">
						<h1>
							{{ 'AS/A level' |_ }}
						</h1>
						<div class="breadcrumbs">
							<ul>
								<li>
									<a href="{{ url('/') }}" title="">
										{{ 'word_home' |_ }}
									</a>
									<i class="fa fa-angle-right" aria-hidden="true"></i>
								</li>
								<li>
									<a title="">{{ 'AS/A level' |_ }}</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="overlay-black"></div>
</section>

<section class="flat-tabs style1">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="tab-about style2 v1">
					<ul class="tab-list-about">
						<li class="active tab-item active">
							<div class="box-header background no-border" style="min-height: 140px;">
		 						<div class="icon">
									<span class="ti-ruler-pencil"></span>
								</div>
								<div class="box-title">
									<h6>{{'Основные предметы' |_}}</h6>
								</div>
							</div>
						</li>
						<li class="tab-item">
							<div class="box-header background no-border" style="min-height: 140px;">
								<div class="icon">
									<span class="ti-desktop"></span>
								</div>
								<div class="box-title">
									<h6>{{'Основные экзамены' | _ }}</h6>
								</div>
							</div>
						</li>
						<li class="tab-item">
							<div class="box-header background no-border" style="min-height: 140px;">
								<div class="icon">
									<span class="ti-target"></span>
								</div>
								<div class="box-title">
									<h6>{{'Приемная ' | _ }}<br><br></h6>
								</div>
							</div>
						</li>
					</ul>
					<div class="content-tab">
						<div class="content-inner overflow">
							<div class="one-half">
								<div class="text-tabs">
									<h5>{{'Основные предметы' |_}}</h5>
									<div class="text-content">
										<p>
											{% content 'alevel/subjects' %}
										</p>
									</div>
								</div>
							</div>
							<div class="one-half">
								<div class="image-tabs">
									<img class="border-radius-5" src="{{ url('/') }}{{ 'all/bg5.jpg' | media }}" alt="">
								</div>
							</div>
						</div>
						<div class="content-inner overflow">
							<div class="one-half">
								<div class="text-tabs">
									<h5>{{'Основные экзамены' | _ }}</h5>
									<div class="text-content">
										<p>
											{% content 'alevel/exams1' %}
										</p>
									</div>
								</div>
							</div>
							<div class="one-half">
								<div class="image-tabs">
									<img class="border-radius-5" src="{{ url('/') }}{{ 'all/bg7.jpg' | media }}" alt="">
								</div>
							</div>
						</div>
						<div class="content-inner overflow">
							<div class="one-half">
								<div class="col-12 text-tabs">
									<h5>{{'Приемная' | _ }}</h5>
									<div class="text-content">
										<p>{% content 'alevel/admintion' %}</p>
									</div>
								</div>
							</div>
							<div class="one-half">
								<div class="image-tabs">
									<img class="border-radius-5" src="{{ url('/') }}{{ 'all/bg4.jpg' | media }}" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="divider100"></div>

<section class="flat-our-mission">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="history-video style1">
					<div class="flat-video-fancybox">
                        <div class="image">
							<img src="{{ url('/') }}{{ 'all/bg1.jpg' | media }}" alt="">
						</div>
                    </div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="box-mission">
					<h3>{{'ACCREDITATION' | _ }}</h3>
					<div class="text-content">
						<p>
							{% content 'accreditation/main' %}
						</p>
						<div class="read-more">
							<a href="{{ url('/') }}/accreditation" class="btn-primary" style="background-color: #163151; box-shadow: none;" title="">{{'Learn more' | _ }}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="divider100"></div>

<section class="flat-actions style3 bg-green" style="display: none;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="call-action style3 bg-transparent">
					<div class="text-action float-left">
						<h4 class="color-white font-weight-3">{{'Have questions?' | _ }}</h4>
						<p>{{'Have questions? description' | _ }}</p>
					</div>
					<div class="form-action float-right">
						<a href="{{ url('/')}}/contact-us" class="btn btn-primary color-white">{{ 'Contact us' |_ }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% partial 'callonaction' %}