title = "Home page"
url = "/"
layout = "base/web"
is_hidden = 0

[viewBag]
localeTitle[ru] = "Главная страница"
localeTitle[kz] = "Басты бет"

[newsSmallPosts]
pageNumber = "{{ :page }}"
postsPerPage = 3
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
postFeatured = 0
postPage = 404
categoryPage = 404

[SchoolGraduates]
==
<section class="tp-banner">
	<div id="rev_slider_1078_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic4export" data-source="gallery" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
   		<!-- START REVOLUTION SLIDER 5.3.0.2 auto mode -->
        <div id="rev_slider_1078_6" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.3.0.2">
            <div class="slotholder"></div>
            <ul><!-- SLIDE  -->
        
                <!-- SLIDE 1 -->
                <li data-index="rs-3049" data-transition="slideremovedown" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="2000"    data-rotate="0"  data-saveperformance="off"  data-title="Ken Burns" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">                        

                    <!-- MAIN IMAGE -->
                    <img src="{{ url('/')}}{{ 'slider/bg.jpg' | media }}"  alt=""  data-bgposition="center center" data-kenburns="off" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->

                    <!-- LAYER NR. 12 -->
                    <div class="tp-caption title-slide color-white" 
                        id="slide-3049-layer-1" 
                        data-x="['left','left','left','left']" data-hoffset="['90','30','10','0']" 
                        data-y="['middle','middle','middle','middle']" data-voffset="['-90','-120','-120','-90']" 
                        data-fontsize="['48','42','40','26']"
                        data-lineheight="['60','42','50','32']"
                        data-fontweight="['600','600','400','300']"
                        data-width="['600','600','600','300']"
                        data-height="auto"
                        data-type="text" 
                        data-whitespace="normal"
                        data-responsive_offset="on"                             
                       	data-frames='[{"delay":0,"split":"chars","splitdelay":0.05,"speed":700,"frame":"0","from":"y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                        data-textAlign="['left','left','left','left']"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[0,0,0,0"
                        data-paddingleft="[0,0,0,0]"

                        >{{'Company name' | _ }}
                    </div>
                    <div class="tp-caption title-slide color-white ff-2 " 
                        data-x="['left','left','left','left']" data-hoffset="['95','30','10','0']" 
                        data-y="['middle','middle','middle','middle']" data-voffset="['25','-50','-50','-10']" 
                        data-fontsize="['18','18','16','14']"
                        data-lineheight="['34','30','24','24']"
                        data-fontweight="['400','400','400','400']"
                        data-width="['750','550','500','300']"
                        data-height="auto"
                        data-type="text" 
                        data-whitespace="normal" 
                        data-responsive_offset="on"                             
                        data-frames='[{"delay":1000,"speed":1200,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                        data-textAlign="['left','left','left','left']"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[0,0,0,0"
                        data-paddingleft="[0,0,0,0]"

                        style="z-index: 16; white-space: nowrap;font-weight: 300; padding-top: 40px;">
                        {{ 'slider_description' | _ }}
                    </div>
                </li>
            </ul>
        </div>
	</div>
</section>

<style type="text/css">
	.portfolio-info{
		left: 20px !important; 
	    line-height: 25px !important; 
	}
	
</style>
<section class="flat-portfolio style1" style="padding: 50px 0 99px;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="flat-title">
					<h3 class="font-weight-3">
						{{ 'Why Spectrum?' | _ }}
					</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 pr-0">
			<div class="row">
				<div class="col-md-12">
					<div class="portfolio-item m-2 color-white style2 ipsotope">
						<div class="portfolio-image" style="height: 300px; width: 100%;background-image: url('https://spectrum.edu.kz/ba.jpg');">
							<div class="portfolio-info center">
								<h5>
									<a href="javascript:void(0)" class="font-weight-bold">
										{{ 'CIS' |_ }}
									</a>
								</h5>
								<p>{{'We are CIS-accredited school, which ensures professional performance in international education.' |_ }}</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 pr-0">
					<div class="portfolio-item m-2 color-white style2 ipsotope">
						<div class="portfolio-image" style="background-image: url('https://spectrum.edu.kz/ba1.jpg'); height: 300px; width: 100%;">
							<div class="portfolio-info center">
								<h5>
									<a href="javascript:void(0)" class="font-weight-bold">
										{{ 'Unified by diversity' |_ }}
									</a>
								</h5>
								<p>{{'Our school brings together students from different parts of the world.' |_ }}</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 pl-0">
					<div class="portfolio-item m-2 color-white style2 ipsotope">
						<div class="portfolio-image" style="background-image: url('https://spectrum.edu.kz/ba2.jpg'); height: 300px; width: 100%;">
							<div class="portfolio-info center">
								<h5>
									<a href="javascript:void(0)" class="font-weight-bold">
										{{ 'High quality of teaching' |_ }}
									</a>
								</h5>
								<p>{{'Each member of our team has at least 5 years of teaching experience.' |_ }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 pl-0">
			<div class="row">
				<div class="col-md-6 pr-0">
					<div class="portfolio-item m-2 color-white style2 ipsotope">
						<div class="portfolio-image" style="background-image: url('https://spectrum.edu.kz/ba3.jpg'); height: 622px; width: 100%; background-repeat: no-repeat;background-position: center;">
							<div class="portfolio-info center">
								<h5>
									<a href="javascript:void(0)" class="font-weight-bold">
										{{ 'Cambridge school' |_ }}
									</a>
								</h5>
								<p>{{'Cambridge Assessment Admissions Testing is part of the University of Cambridge. We produce admissions tests for higher education institutions and government ministries worldwide.' |_ }}</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 pl-0">
					<div class="row">
						<div class="col-md-12">
							<div class="portfolio-item m-2 color-white style2 ipsotope">
								<div class="portfolio-image" style="background-image: url('https://spectrum.edu.kz/ba4.jpg'); height: 300px; width: 100%;">
									<div class="portfolio-info center">
										<h5>
											<a href="javascript:void(0)" class="font-weight-bold">
												{{ 'Security' |_ }}
											</a>
										</h5>
										<p>{{'School is located in a hospitable area, and campus is fully equipped with video surveillance, because security is our priority.' |_ }}</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="portfolio-item m-2 color-white style2 ipsotope">
								<div class="portfolio-image" style="background-image: url('https://spectrum.edu.kz/ba5.jpg'); height: 300px; width: 100%;">
									<div class="portfolio-info center">
										<h5>
											<a href="javascript:void(0)" class="font-weight-bold">
												{{ 'Individual work' |_ }}
											</a>
										</h5>
										<p>{{'Our school strives to develop students by finding a personal approach to each student' |_ }}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="flat-imagebox style2 background">
	<div class="container">
		<div class="row" style="display: none;">
			<div class="col-md-12">
				<div class="flat-title">
					<h3 class="font-weight-3">School</h3>
					<p class="sub-title">Our creative specialists work on an international level at branding, design and development. Both online and offline.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-12">
				<div class="imagebox style2" style="min-height: 350px;">
					<div class="imagebox-image">
						<img src="{{ url('/') }}{{ 'sis/primary.jpg' | media }}" alt="">
					</div>
					<div class="imagebox-content">
						<h6>
							<a href="{{ url('/') }}/primary" title="">Primary School</a>
						</h6>
						<p>Cambridge Primary: 1-5 grades</p>
						<div class="more-link">
							<a href="{{ url('/') }}/primary" title="">{{'Learn more' | _ }}</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-12">
				<div class="imagebox style2" style="min-height: 350px;">
					<div class="imagebox-image">
						<img src="{{ url('/') }}{{ 'sis/secondary.jpg' | media }}" alt="">
					</div>
					<div class="imagebox-content">
						<h6><a href="{{ url('/') }}/secondary" title="">Lower Secondary</a></h6>
						<p>Cambridge Secondary: 6-8 grades. </p>
						<div class="more-link">
							<a href="{{ url('/') }}/secondary" title="">{{'Learn more' | _ }}</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-12">
				<div class="imagebox style2" style="min-height: 350px;">
					<div class="imagebox-image">
						<img src="{{ url('/') }}{{ 'sis/icg.jpg' | media }}" alt="">
					</div>
					<div class="imagebox-content">
						<h6><a href="{{ url('/') }}/high" title="">IGCSE</a></h6>
						<p>Cambridge IGCSE: 9-10 grades.</p>
						<div class="more-link">
							<a href="{{ url('/') }}/high" title="">{{'Learn more' | _ }}</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-12">
				<div class="imagebox style2" style="min-height: 350px;">
					<div class="imagebox-image">
						<img src="{{ url('/') }}{{ 'sis/alevel.jpg' | media }}" alt="">
					</div>
					<div class="imagebox-content">
						<h6><a href="{{ url('/') }}/alevel" title="">AS/A level</a></h6>
						<p>AS/A level : 11-12 grades.</p><br>
						<div class="more-link">
							<a href="{{ url('/') }}/alevel" title="">{{'Learn more' | _ }}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="divider80"></div>

<section class="flat-our-mission">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="history-video style1">
					<div class="flat-video-fancybox">
                        <a class="fancybox js-video-button" data-video-id="{{ 'youtube_promo_1' | _ }}"  href="javascript:void(0)">
                            <img src="{{ url('/') }}{{ 'campus/campus.jpg' | media }}" alt="images" class="rounded" style="border-radius: 9px; box-shadow: 0px 25px 45px 0px rgb(0 0 0 / 15%);">
                        </a>
                    </div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="box-mission mt-0 pt-2">
					<h3>{{'CAMPUS' | _ }}</h3>
					<div class="text-content">
						<p>
							{% content 'aboutus/main' %}
						</p>
						<a href="{{ url('/') }}/about-us" class="mt-4 btn btn-primary" title="">{{'Learn more' | _ }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="divider80"></div>

<section class="flat-about-us pb-0 pt-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="box-about">
					<h3 class="pt-3">{{ 'Examination Center' |_ }}</h3>
					<p>
						{% content 'center/main' %}
					</p>
					<a href="{{ url('/') }}/examination-center" class="mt-4 btn btn-primary" title="">{{'Learn more' | _ }}</a>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="image-iconbox style1">
					<img src="{{ url('/') }}{{ 'campus/campus3.jpg' | media }}" alt="">
				</div>
			</div>
		</div>
	</div>
</section>

<div class="divider80"></div>

<section class="parallax parallax8" style="background-image: url( {{ url('/') }}{{ 'campus/campus2.jpg' | media }} );">
	<div class="flat-video-fancybox">
        <a class="fancybox js-video-button" data-video-id="{{ 'youtube_promo_1' | _ }}"  href="javascript:void(0)"> 
            <!-- <img src="images/parallax/bg-08.jpg" alt="images"> -->
        </a>
    </div>
</section>

{% component 'newsSmallPosts' %}

<section class="flat-team style7 pt-4" style="display: none;">
	<div class="container set-width">
		<div class="row">
			<div class="team-member style1">
				<div class="avatar">
					<img src="https://spectrum.edu.kz/uploads/staff/XyMbMw5aFwqhctDPZCytplZCpMcVY0lXhZELQIa9.jpeg" alt="">
				</div>
				<div class="info">
					<div class="name">
						<a href="javascript:void(0)" title="">Alizhan Askargaliyev</a>
					</div>
					<div class="option">
						UCL
					</div>
				</div>
			</div>
			<div class="team-member style1">
				<div class="avatar">
					<img src="https://spectrum.edu.kz/uploads/staff/XyMbMw5aFwqhctDPZCytplZCpMcVY0lXhZELQIa9.jpeg" alt="">
				</div>
				<div class="info">
					<div class="name">
						<a href="javascript:void(0)" title="">Alizhan Askargaliyev</a>
					</div>
					<div class="option">
						UCL
					</div>
				</div>
			</div>
			<div class="team-member style1 big">
				<div class="avatar">
					<img src="https://spectrum.edu.kz/uploads/staff/XyMbMw5aFwqhctDPZCytplZCpMcVY0lXhZELQIa9.jpeg" alt="">
				</div>
				<div class="info">
					<div class="name">
						<a href="javascript:void(0)" title="">Alizhan Askargaliyev</a>
					</div>
					<div class="option">
						UCL
					</div>
				</div>
			</div>
			<div class="team-member style1">
				<div class="avatar">
					<img src="https://spectrum.edu.kz/uploads/staff/XyMbMw5aFwqhctDPZCytplZCpMcVY0lXhZELQIa9.jpeg" alt="">
				</div>
				<div class="info">
					<div class="name">
						<a href="javascript:void(0)" title="">Alizhan Askargaliyev</a>
					</div>
					<div class="option">
						UCL
					</div>
				</div>
			</div>
			<div class="team-member style1">
				<div class="avatar">
					<img src="https://spectrum.edu.kz/uploads/staff/XyMbMw5aFwqhctDPZCytplZCpMcVY0lXhZELQIa9.jpeg" alt="">
				</div>
				<div class="info">
					<div class="name">
						<a href="javascript:void(0)" title="">Alizhan Askargaliyev</a>
					</div>
					<div class="option">
						UCL
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<style type="text/css">
	h6{
		line-height: 25px !important;
	}
</style>

{% component 'SchoolGraduates' %}
<div class="divider80"></div>
<section class="style3 v1">
	<div class="container">
		<div class="row footer-top">
			<div class="col-lg-6">
				<div class="contact-classic mt-5 pt-3">
					<h3>{{'Get in touch with us' | _ }}</h3>
					<ul class="flat-contact mt-2">
						<li class="phone">
							<p class="phone">{{'official_phone_number' |_ }}</p>
							<p class="email">{{'official_email' |_ }}</p>
						</li>
						<li class="address">
							<p>{{'official_address' |_ }}</p>
						</li>
						<li class="open-hours">
							<p>{{'open hours' |_ }}: {{'official_open_hours' |_ }}</p>
						</li>
					</ul>
				</div><!-- /.contact-classic -->
			</div><!-- /.col-lg-6 -->
			<div class="col-lg-6">
				<a class="dg-widget-link" href="http://2gis.kz/nur_sultan/firm/70000001024311451/center/71.47863864898683,51.12727652775371/zoom/17?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть на карте Нур-Султана</a>
				<div class="dg-widget-link">
					<a href="http://2gis.kz/nur_sultan/firm/70000001024311451/photos/70000001024311451/center/71.47863864898683,51.12727652775371/zoom/17?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=photos">Фотографии компании</a>
				</div>
				<div class="dg-widget-link">
					<a href="http://2gis.kz/nur_sultan/center/71.478006,51.12762/zoom/17/routeTab/rsType/bus/to/71.478006,51.12762╎SPECTRUM INTERNATIONAL SCHOOL?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти проезд до SPECTRUM INTERNATIONAL SCHOOL</a>
				</div>
				<script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js"></script>
				<script charset="utf-8">new DGWidgetLoader({"width":'100%',"height": 280,"borderColor":"#a3a3a3","pos":{"lat":51.12727652775371,"lon":71.47863864898683,"zoom":17},"opt":{"city":"nur_sultan"},"org":[{"id":"70000001024311451"}]});
				</script>
				<noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>
			</div><!-- /.col-lg-6 -->
		</div>
	</div>
</section>

<div class="divider80"></div>
{% partial 'callonaction' %}