title = "Branding"
url = "/branding"
layout = "base/web"
is_hidden = 0

[viewBag]
localeTitle[ru] = "Брендинг"
localeTitle[kz] = "Брендинг"
localeUrl[ru] = "/brending"
localeUrl[kz] = "/brending"
==
<section class="page-title parallax parallax2" style="background-position: 30% 40px;background-image: url({{ url('/') }}{{'bgs/bg.jpeg' | media}});">
			<div class="title-heading">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="box-title style1">
								<h1>
									{{ 'Branding' |_ }}
								</h1>
								<div class="breadcrumbs">
									<ul>
										<li>
											<a href="{{ url('/') }}" title="">
												{{ 'word_home' |_ }}
											</a>
											<i class="fa fa-angle-right" aria-hidden="true"></i>
										</li>
										<li>
											<a title="">{{ 'Branding' |_ }}</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="overlay-black"></div>
		</section>

		<section class="flat-about style2">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="flat-title padding">
							<h4>
								{{ 'Branding' |_ }}
							</h4>
							<p class="sub-title">
								{% content 'branding/main' %}
							</p>
						</div>
						<div class="tab-about">
							<ul class="tab-list-about">
								<li class="active">{{ 'Branding' |_ }}</li>
								<li>{{ 'Logotypes' |_ }}</li>
								<li>{{ 'Presentation template' |_ }}</li>
								<li>{{ 'Brandbook' |_ }}</li>
							</ul>
							<div class="content-tab">
								<div class="content-inner">
									<p>
										{% content 'branding/branding' %}
									</p>
								</div>
								<div class="content-inner">
									<div class="row">
										<div class="col-sm-12 col-lg-3">
										 	<div class="text-content text-center">
												<img src="{{ url('/') }}{{ 'files/r6h3eD55pF3KBUhfVqnTYzcX2iAwsBiAeATvJc4t.png' | media }}" class="border-radius-5">
											</div>
											<a href="{{ url('/') }}{{ 'files/r6h3eD55pF3KBUhfVqnTYzcX2iAwsBiAeATvJc4t.png' | media }}" class="btn btn-light mt-2">{{'Download' | _ }}</a>
										</div>
										<div class="col-sm-12 col-lg-3">
										 	<div class="text-content text-center">
												<img src="{{ url('/') }}{{ 'files/xSl9dB1MwmbgNwAeVtHAJLsLpkOyPUNiT84Ypa0L.png' | media }}" class="border-radius-5">
											</div>
											<a href="{{ url('/') }}{{ 'files/xSl9dB1MwmbgNwAeVtHAJLsLpkOyPUNiT84Ypa0L.png' | media }}" class="btn btn-light mt-2">{{'Download' | _ }}</a>
										</div>
										<div class="col-sm-12 col-lg-3">
										 	<div class="text-content text-center">
												<img src="{{ url('/') }}{{ 'files/U80f7SRNnxoCo27qnUteJFG7u9zuz31agsDdTVMf.png' | media }}" class="border-radius-5">
											</div>
											<a href="{{ url('/') }}{{ 'files/U80f7SRNnxoCo27qnUteJFG7u9zuz31agsDdTVMf.png' | media }}" class="btn btn-light mt-2">{{'Download' | _ }}</a>
										</div>
										<div class="col-sm-12 col-lg-3">
										 	<div class="text-content text-center">
												<img src="{{ url('/') }}{{ 'files/pKp81W6Fzzj6i1WbMFHq2DkS815fph8p39HK21oB.png' | media }}" class="border-radius-5" style="background-color: black;">
											</div>
											<a href="{{ url('/') }}{{ 'files/pKp81W6Fzzj6i1WbMFHq2DkS815fph8p39HK21oB.png' | media }}" class="btn btn-light mt-2">{{'Download' | _ }}</a>
										</div>
									</div>
								</div>
								<div class="content-inner">
									<div class="one-half">
										<div class="text-tabs">
											<h5>{{'Presentation template' | _ }}</h5>
											<div class="text-content">
												<p>
													{% content 'branding/presentation' %}
												</p>
											</div>
											<a href="{{ url('/') }}{{ 'files/spectrum20is20brandbook201.pdf' | media }}" class="btn btn-light mt-2">{{'Download' | _ }}</a>
										</div>
									</div>
									<div class="one-half">
										<div class="history-video">
											<div class="flat-video-fancybox">
					                            <img src="{{ url('/') }}{{ 'bgs/presentation.png' | media }}" class="border-radius-5">
					                        </div>
										</div>
									</div>
								</div>
								<div class="content-inner">
									<div class="one-half">
										<div class="text-tabs">
											<h5>{{'Brandbook' | _ }}</h5>
											<div class="text-content">
												<p>
													{% content 'branding/brandbook' %}
												</p>
											</div>
											<a href="{{ url('/') }}{{ 'files/spectrum20is20brandbook201.pdf' | media }}" class="btn btn-light mt-2">{{'Download' | _ }}</a>
										</div>
									</div>
									<div class="one-half">
										<div class="history-video">
											<div class="flat-video-fancybox">
					                            <img src="{{ url('/') }}{{ 'bgs/brandbook.png' | media }}" class="border-radius-5">
					                        </div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="flat-about style2 pt-0">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-primary">
						{% content 'branding/copyright' %}
					</div>
				</div>
			</div>
		</section>


		