title = "Education policy"
url = "/education-policy"
layout = "base/web"
is_hidden = 0

[viewBag]
localeTitle[ru] = "Политика образования"
localeTitle[kz] = "Білім беру саясаты"
==
<section class="page-title parallax parallax2" style="background-position: 30% 40px;background-image: url({{ url('/') }}{{'bgs/bg.jpeg' | media}});">
			<div class="title-heading">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="box-title style1">
								<h1>
									{{ 'Education policy' |_ }}
								</h1>
								<div class="breadcrumbs">
									<ul>
										<li>
											<a href="{{ url('/') }}" title="">
												{{ 'word_home' |_ }}
											</a>
											<i class="fa fa-angle-right" aria-hidden="true"></i>
										</li>
										<li>
											<a title="">{{ 'Education policy' |_ }}</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="overlay-black"></div>
		</section>

		<section class="flat-tabs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="tab-about style2 v1">
							<ul class="tab-list-about">
								<li class="active tab-item">
									<div class="box-header background no-border" style="min-height: 140px;">
				 						<div class="icon">
											<span class="ti-ruler-pencil"></span>
										</div>
										<div class="box-title">
											<h6>{{'Attendance Policy' | _ }}</h6>
										</div>
									</div>
								</li>
								<li class="tab-item">
									<div class="box-header background no-border" style="min-height: 140px;">
				 						<div class="icon">
											<span class="ti-ruler-pencil"></span>
										</div>
										<div class="box-title">
											<h6>{{'Parent teacher association' | _ }}</h6>
										</div>
									</div>
								</li>
							</ul>
							<div class="content-tab">
								<div class="content-inner overflow">
									<div class="one-half">
										<div class="text-tabs">
											<h5>{{'Attendance Policy' | _ }}</h5>
											<div class="text-content">
												<p>
													{% content 'policy/attendance' %}
												</p>
											</div>
											<a href="{{ url('/') }}{{ 'files/Spectrum Attendance Policy 2018.pdf' | media }}" class="btn btn-light mt-2">{{'Download policy' | _ }}</a>
										</div>
									</div>
									<div class="one-half">
										<div class="history-video">
											<div class="flat-video-fancybox">
					                            <img src="{{ url('/') }}{{ 'bgs/policy.png' | media }}" class="border-radius-5">
					                        </div>
										</div>
									</div>
								</div>
								<div class="content-inner overflow">
									<div class="one-half">
										<div class="text-tabs">
											<h5>{{'Parent teacher association' | _ }}</h5>
											<div class="text-content">
												<p>
													{% content 'policy/parentassociation' %}
												</p>
											</div>
											<a href="{{ url('/') }}{{ 'files/4. Parent Teacher Association Policy.pdf' | media }}" class="btn btn-light mt-2">{{'Download policy' | _ }}</a>
										</div>
									</div>
									<div class="one-half">
										<div class="history-video">
											<div class="flat-video-fancybox">
					                            <img src="{{ url('/') }}{{ 'bgs/policy.png' | media }}" class="border-radius-5">
					                        </div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>