title = "Examination Center"
url = "/examination-center"
layout = "base/web"
is_hidden = 0
==
<section class="page-title parallax parallax2" style="background-position: 30% 40px;background-image: url({{ url('/') }}{{'bgs/bg.jpeg' | media}});">
	<div class="title-heading">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="box-title style1">
						<h1>
							{{ 'Examination Center' |_ }}
						</h1>
						<div class="breadcrumbs">
							<ul>
								<li>
									<a href="{{ url('/') }}" title="">
										{{ 'word_home' |_ }}
									</a>
									<i class="fa fa-angle-right" aria-hidden="true"></i>
								</li>
								<li>
									<a title="">{{ 'Examination Center' |_ }}</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="overlay-black"></div>
</section>

<section class="flat-row">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="flat-title left">
					<h3 class="font-weight-3">
						{{ 'Examination Center' |_ }}
					</h3>
				</div>
				<div class="accordion">
					<div class="accordion-toggle">
						<div class="toggle-title active">
							{{'Cambridge assessment international education' |_ }}
						</div>
						<div class="toggle-content">
							<p>
								{% content 'center/caie' %}
							</p>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="accordion-toggle">
						<div class="toggle-title">
							{{ 'Cambridge assessment admission testing' | _ }}
						</div>
						<div class="toggle-content">
							<p>
								{% content 'center/caat' %}
							</p>
						</div>
					</div>
					<div class="accordion-toggle">
						<div class="toggle-title">
							{{'Cambridge assessment english' | _ }}
						</div>
						<div class="toggle-content">
							<p>
								{% content 'center/cae' %}
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="history-video">
					<div class="flat-video-fancybox">
                        <img src="{{ url('/') }}{{ 'sis/alevel.jpg' | media }}" class="border-radius-5" alt="images">
                    </div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="divider30"></div>

<section class="flat-actions style3 bg-green" style="display:none;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="call-action style3 bg-transparent">
					<div class="text-action float-left">
						<h4 class="color-white font-weight-3">{{'Have questions?' | _ }}</h4>
						<p>{{'Have questions? description' | _ }}</p>
					</div>
					<div class="form-action float-right">
						<a href="{{ url('/')}}/contact-us" class="btn btn-primary color-white">{{ 'Contact us' |_ }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% partial 'callonaction' %}