title = "Campus"
url = "/campus"
layout = "base/web"
is_hidden = 0

[viewBag]
localeTitle[ru] = "Кампус"
localeTitle[kz] = "Кампус"
localeUrl[ru] = "/campus"
localeUrl[kz] = "/campus"

[testimonials]

[newsSmallPosts]
pageNumber = "{{ :page }}"
postsPerPage = 3
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
postFeatured = 0
postPage = 404
categoryPage = 404
==
<?php
use Cms\Classes\Theme;
function onStart()
{
    $items     = [ ];
    // media dir
    $files     = File::allFiles( 'storage/app/media/campuseslide/' );
    // OR from theme dir
    // $theme_dir = Theme::getActiveTheme()->getDirName();
    // $files     = File::allFiles( themes_path( $theme_dir ) . '/assets/images/campuseslide/' );

    foreach ($files as $item) {
        $items[] = $item->getFilename();
    }

    rsort($items, SORT_NUMERIC); // Bigest file number first
    // $items = array_slice($items,0,20); // if you want a limit

    $this['gallery'] = $items;
}
?>
==
<section class="page-title parallax parallax2" style="background-position: 30% 40px;background-image: url({{ url('/') }}{{'bgs/bg.jpeg' | media}});">
	<div class="title-heading">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="box-title style1">
						<h1>
							{{'Campus' | _ }}
						</h1>
						<p class="text-center">
							{% content 'campus/main' %}
						</p>
						<div class="breadcrumbs">
							<ul style="padding-top: 40px;">
								<li>
									<a href="{{ url('/') }}" title="">
										{{ 'word_home' |_ }}
									</a>
									<i class="fa fa-angle-right" aria-hidden="true"></i>
								</li>
								<li>
									<a title="">{{'Campus' | _ }}</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="overlay-black"></div>
</section>

<div class="divider80"></div>

<section class="flat-history" style="padding-bottom: 0px;display: none;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="flat-title">
					<h3 style="display: none;">{{'Campus' | _ }}</h3>
					<p>
						{% content 'campus/main' %}
					</p>
				</div>
			</div>
		</div>
		<div class="row" style="display: none;">
			<div class="col-md-6" >
				<div class="flat-old-year">
					<ul class="list-year">
						<li>
							<span class="dot heartbit"></span>
							<div class="event">
								<h4>{{ 'history_title' | _ }}</h4>
								<p> 
									{% content 'campus/history' %}
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-6">
				<div class="history-video" style="margin-top: 20px;">
					<div class="flat-video-fancybox">
                        <a class="fancybox" data-type="iframe" href="{{ 'youtube_promo' | _ }}"> 
                            <img src="{{ url('/') }}{{ 'campus/campus3.jpg' | media }}" alt="images">
                        </a>
                    </div>
                    <div class="text-video">
                    	{{ 'video_description' | _ }}
                    </div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="flat-imagebox style7 pt-0">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="top-title center">
					<h3 style="display: none;">{{'Campus advantages' | _ }}</h3>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<div class="imagebox style2 v1">
					<div class="imagebox-image">
						<img src="{{ url('/') }}{{ 'campus/campus.jpg' | media }}" alt="">
					</div>
					<h6 class="font-size-16 text-white pt-3">{{ 'Campus advantages no1' | _ }}</h6>
					<div class="imagebox-content">
						<h6 class="font-size-16 text-white">{{ 'Campus advantages no1' | _ }}</h6>
						<p>
							{% content 'campus/ad1' %}
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="imagebox style2 v1">
					<div class="imagebox-image">
						<img src="{{ url('/') }}{{ 'campus/campus4.jpg' | media }}" alt="">
					</div>
					<h6 class="font-size-16 text-white pt-3">{{ 'Campus advantages no2' | _ }}</h6>
					<div class="imagebox-content">
						<h6 class="font-size-16 text-white">{{ 'Campus advantages no2' | _ }}</h6>
						<p>
							{% content 'campus/ad2' %}
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="imagebox style2 v1">
					<div class="imagebox-image">
						<img src="{{ url('/') }}{{ 'campus/campus6.jpg' | media }}" alt="">
					</div>
					<h6 class="font-size-16 text-white pt-3">{{ 'Campus advantages no3' | _ }}</h6>
					<div class="imagebox-content">
						<h6 class="font-size-16 text-white">{{ 'Campus advantages no3' | _ }}</h6>
						<p>
							{% content 'campus/ad3' %}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="flat-our-work">
	<div class="wrap-imagebox overflow owl-carousel-16">
		{% for image in gallery %}
		<div class="imagebox style2 v1">
			<div class="imagebox-image pr-2">
				<img src="{{ url('/') }}/storage/app/media/campuseslide/{{image}}" alt="">
			</div>
		</div>
		{% endfor %}
	</div>
</section>

{% component 'newsSmallPosts' %}

<style type="text/css">
	h6{
		line-height: 22px !important;
	}
</style>

{% partial 'callonaction' %}