title = "Newspaper"
url = "/newspaper"
layout = "base/web"
is_hidden = 0
==
<section class="page-title parallax parallax2" style="background-image: url({{ url('/') }}{{ 'bgs/bg.jpeg' | media }});">
	<div class="title-heading">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="box-title style1">
						<h1>
							{{'Newspaper'| _ }}
						</h1>
						<div class="breadcrumbs">
							<ul>
								<li>
									<a href="{{ url('/') }}" title="">{{'Home'}}</a>
									<i class="fa fa-angle-right" aria-hidden="true"></i>
								</li>
								<li><a title="">{{'Newspaper'| _ }}</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="overlay-black"></div>
</section>
<div class="divider100"></div>