title = "About us"
url = "/about-us"
layout = "base/web"
is_hidden = 0

[viewBag]
localeTitle[ru] = "О нас"
localeTitle[kz] = "Біз туралы"

[newsSmallPosts]
pageNumber = "{{ :page }}"
postsPerPage = 3
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
postFeatured = 0
postPage = 404
categoryPage = 404
==
<section class="page-title parallax parallax2" style="background-position: 30% 40px;background-image: url({{ url('/') }}{{'bgs/bg.jpeg' | media}});">
	<div class="title-heading">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="box-title style1">
						<h1>
							{{ 'About us' |_ }}
						</h1>
						<div class="breadcrumbs">
							<ul>
								<li>
									<a href="{{ url('/') }}" title="">
										{{ 'word_home' |_ }}
									</a>
									<i class="fa fa-angle-right" aria-hidden="true"></i>
								</li>
								<li>
									<a title="">{{ 'About us' |_ }}</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="overlay-black"></div>
</section>

<div class="divider110"></div>

<section class="flat-about-us pb-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="box-about">
					<h3 class="pt-5">{{ 'About us' |_ }}</h3>
					<p>
						{% content 'aboutus/main' %}
					</p>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="image-iconbox style1">
					<img src="{{ url('/') }}{{ 'campus/campus3.jpg' | media }}" alt="">
				</div>
			</div>
		</div>
	</div>
</section>

<section class="flat-row flat-iconbox style1 v1">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="title">
					<h3 style="padding-bottom: 70px;">{{'Values' |_ }}</h3>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="text-iconbox">
					<div class="iconbox left style1">
						<div class="box-header">
							<div class="icon">
								<span class="ti-target font-size-36"></span>
							</div>
							<div class="box-title">
								<a>S = Self-reliance</a>
							</div>
						</div>
						<div class="box-content">
							<p>Self-reliance means respecting our own experiences, ideas and traits. It means that we trust decisions that we make for ourselves and do not have to rely on other to help us solve problems.</p>
						</div>
					</div>
					<div class="iconbox left style1">
						<div class="box-header">
							<div class="icon">
								<span class="ti-target font-size-36"></span>
							</div>
							<div class="box-title">
								<a>P = Principled</a>
							</div>
						</div>
						<div class="box-content">
							<p>Always behaving, acting, speaking honestly and following the accepted morals of society; behaving in a moral way.<br><br></p>
						</div>
					</div>
					<div class="iconbox left style1">
						<div class="box-header">
							<div class="icon">
								<span class="ti-target font-size-36"></span>
							</div>
							<div class="box-title">
								<a>T = Trustworthy</a>
							</div>
						</div>
						<div class="box-content">
							<p>We mean here that all involved with the school are deserving of trust, can be confidential, dependable and reliable.</p>
						</div>
					</div>
					<div class="iconbox left style1">
						<div class="box-header">
							<div class="icon">
								<span class="ti-target font-size-36"></span>
							</div>
							<div class="box-title">
								<a>R = Respectful</a>
							</div>
						</div>
						<div class="box-content">
							<p>We will be recognised and characterised by our showing of politeness and deference to all without bias.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="text-iconbox">
					<div class="iconbox left style1">
						<div class="box-header">
							<div class="icon">
								<span class="ti-target font-size-36"></span>
							</div>
							<div class="box-title">
								<a>E = Empathetic</a>
							</div>
						</div>
						<div class="box-content">
							<p>Our ability to share and understand someone else’s feelings or experiences by imagining what it would be like to be in that person’s position at that time.<br><br></p>
						</div>
					</div>
					<div class="iconbox left style1">
						<div class="box-header">
							<div class="icon">
								<span class="ti-target font-size-36"></span>
							</div>
							<div class="box-title">
								<a>C = Cooperative</a>
							</div>
						</div>
						<div class="box-content">
							<p>We can work together happily and willingly for our common goals. Demonstrating a willingness to cooperate with all stakeholders of the school.<br><br></p>
						</div>
					</div>
					<div class="iconbox left style1">
						<div class="box-header">
							<div class="icon">
								<span class="ti-target font-size-36"></span>
							</div>
							<div class="box-title">
								<a>U = United</a>
							</div>
						</div>
						<div class="box-content">
							<p>We act with oneness in our thoughts, feelings etc showing concord, harmony and agreement.Working together to reach the same goals.</p>
						</div>
					</div>
					<div class="iconbox left style1">
						<div class="box-header">
							<div class="icon">
								<span class="ti-target font-size-36"></span>
							</div>
							<div class="box-title">
								<a>M = Motivated</a>
							</div>
						</div>
						<div class="box-content">
							<p>This means to us that we are eager to accomplish our own goals using our skills, knowledge on understanding.</p>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>

<section class="flat-subscibe-email parallax parallax15" style="padding: 50px 0 50px; background-position: 50% 22px; background-image: url({{ url('/') }}{{'slider/bg.jpg' | media}});">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="wrap-subscribe center" style="padding: 40px;">
					<div class="title">
						<h3 class="color-white">{{'History' |_ }}</h3>
					</div>
					<div style="color: white !important;" class="text-left">
						{% content 'aboutus/history' %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="overlay-black"></div>
</section>

<section class="parallax parallax8" style="display: none; background-position: 50% 11px; background-image: url({{ url('/') }}{{'slider/bg.jpg' | media}});">
	<div class="flat-video-fancybox">
        <a class="fancybox" data-type="iframe" href="https://www.youtube.com/embed/t1U3Rv3plmQ?autoplay=1"> 
            <!-- <img src="images/parallax/bg-08.jpg" alt="images"> -->
        </a>
    </div>
</section>

<section class="flat-iconbox style12">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="flat-title style1 v1">
					<h2 class="mt-4">{{'Principle fullname' | _}}</h2>
					<p class="sub-title">
						{% content 'aboutus/principle' %}
					</p>
					<a href="{{ url('/')}}/spectrum-employees" class="btn btn-primary text-md mt-2" style="font-size: 16px;">
						{{ 'Spectrum employees' |_ }}
					</a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="image">
					<img src="{{ url('/') }}{{ 'all/principle.jpeg' | media }}" alt="">
				</div>
			</div>
		</div>
	</div>
</section>

{% partial 'callonaction' %}