title = "Price policy"
url = "/prices"
layout = "base/web"
is_hidden = 0
==
<section class="page-title parallax parallax2" style="background-position: 30% 40px;background-image: url({{ url('/') }}{{'bgs/bg.jpeg' | media}});">
	<div class="title-heading">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="box-title style1">
						<h1>
							{{ 'Price policy' |_ }}
						</h1>
						<div class="breadcrumbs">
							<ul>
								<li>
									<a href="{{ url('/') }}" title="">
										{{ 'word_home' |_ }}
									</a>
									<i class="fa fa-angle-right" aria-hidden="true"></i>
								</li>
								<li>
									<a title="">{{ 'Price policy' |_ }}</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="overlay-black"></div>
</section>

<section class="flat-jobs" style="padding-top: 60px;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="main-jobs">
					<div class="content-jobs">
						<div class="box-jobs">
							<h5>{{ 'FEES' |_ }}</h5>
							<p>
								{% content 'price/fees' %}
							</p>
							<style type="text/css">
								table, tr, td{
									border: 1px solid black;
								}
							</style>
						</div>
						<div class="box-jobs background icon style1">
							<h5>{{'Key Points'|_}}</h5>
							{% content 'price/keypoints' %}
							
						</div>
						<div class="box-jobs icon">
							<div class="row">
								<div class="col-md-6 col-sm-12">
									<div class="box-jobs">
										<h5>{{ 'SCHOOL UNIFORM' | _ }}</h5>
										<p>
											{% content 'price/uniform' %}
										</p>
									</div>
								</div>
								<div class="col-md-6 col-sm-12">
									<div class="image text-center">
										<img src="{{ url('/') }}{{ 'all/bg3.jpg' | media }}" alt="">
									</div>
								</div>
							</div>
							<h5 class="mt-4">{{'DISCOUNTS' | _ }}</h5>
							<p>
								{% content 'price/discounts' %}
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="flat-actions style3 bg-green" style="display:none;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="call-action style3 bg-transparent">
					<div class="text-action float-left">
						<h4 class="color-white font-weight-3">{{'Have questions?' | _ }}</h4>
						<p>{{'Have questions? description' | _ }}</p>
					</div>
					<div class="form-action float-right">
						<a href="{{ url('/')}}/contact-us" class="btn btn-primary color-white">{{ 'Contact us' |_ }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% partial 'callonaction' %}