title = "Spectrum employees"
url = "/spectrum-employees"
layout = "base/web"
is_hidden = 0

[SpectrumEmployees]
==
<section class="page-title parallax parallax2" style="background-image: url({{ url('/') }}{{ 'bgs/bg.jpeg' | media }});">
	<div class="title-heading">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="box-title style1">
						<h1>
							{{'Spectrum employees'| _ }}
						</h1>
						<div class="breadcrumbs">
							<ul>
								<li>
									<a href="{{ url('/') }}" title="">{{'Home'}}</a>
									<i class="fa fa-angle-right" aria-hidden="true"></i>
								</li>
								<li><a title="">{{'Spectrum employees'| _ }}</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="overlay-black"></div>
</section>

{% component 'SpectrumEmployees' %}