title = "Student clubs"
url = "/student-clubs"
layout = "base/web"
is_hidden = 0

[ClubsOverview]
maxItems = 10
orderBy = "title"
order = "desc"
==
<section class="page-title parallax parallax2" style="background-position: 30% 40px;background-image: url({{ url('/') }}{{'bgs/bg.jpeg' | media}});">
	<div class="title-heading">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="box-title style1">
						<h1>
							{{ 'Student clubs' |_ }}
						</h1>
						<div class="breadcrumbs">
							<ul>
								<li>
									<a href="{{ url('/') }}" title="">
										{{ 'word_home' |_ }}
									</a>
									<i class="fa fa-angle-right" aria-hidden="true"></i>
								</li>
								<li>
									<a title="">{{ 'Student clubs' |_ }}</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="overlay-black"></div>
</section>

{% component 'ClubsOverview' %}