title = "Student Council"
url = "/student-council"
layout = "base/web"
is_hidden = 0

[viewBag]
localeTitle[ru] = "Student Counsil"
localeTitle[kz] = "Student Counsil"
==
use Cms\Classes\Theme;
function onStart()
{
    $items     = [ ];
    // media dir
    $files     = File::allFiles( 'storage/app/media/gallery/' );
    // OR from theme dir
    // $theme_dir = Theme::getActiveTheme()->getDirName();
    // $files     = File::allFiles( themes_path( $theme_dir ) . '/assets/images/gallery/' );

    foreach ($files as $item) {
        $items[] = $item->getFilename();
    }

    rsort($items, SORT_NUMERIC); // Bigest file number first
    // $items = array_slice($items,0,20); // if you want a limit

    $this['gallery'] = $items;
}
?>
==

<section class="flat-jobs pb-0 pt-4">
	<div class="container">
		<div class="row">
			<div class="col-md-6 mt-4">
				<h2 class="text-uppercase mt-4">
			                    {{'Student council' |_ }}
			                </h2>
			</div>
            <div class="col-md-6">
            	<div class="bg" style="background: url({{ url('/') }}{{ 'sis/secondary.jpg' | media }}) center/cover no-repeat #a8a8a8; width: 100%; height: 400px; position: absolute; opacity: 1;right: 0;"></div>
            </div>
		
			<div class="col-md-10 col-sm-12 mt-4" style="background-color: white;">
				<div class="main-jobs">
					<div class="header-jobs pr-4 pt-1">
						<div class="box-jobs">
							<p class="mt-4" align="justify">{% content 'council/main' %}</p>
						</div>
					</div>
					<div class="content-jobs mb-4">
						<div class="box-jobs">
							<h5>{{'SC team, positions' |_ }}</h5>
							<p>{% content 'council/team' %}</p>
						</div>
					</div>
					<div class="content-jobs mb-4">
						<div class="box-jobs">
							<h5>{{'SC annual plan' |_ }}</h5>
							<p>{% content 'council/annualplan' %}</p>
						</div>
					</div>
					<div class="content-jobs mb-4">
						<div class="box-jobs">
							<h5>{{'SC election policy' |_ }}</h5>
							<p>{% content 'council/electionpolicy' %}</p>
						</div>
					</div>
					<div class="content-jobs mb-4">
						<div class="box-jobs">
							<h5>{{'Chronology of former SC chairs' |_ }}</h5>
							<p>{% content 'council/chronology' %}</p>
						</div>
					</div>
					<div class="content-jobs mb-4">
						<div class="box-jobs">
							<h5>{{'Suggestion box' |_ }}</h5>
							<p>{% content 'council/suggestionbox' %}</p>
						</div>
					</div>
					<div class="divider30"></div>
					<div class="content-jobs mb-4">
						<div class="box-jobs">
							<h5>{{'Adam atina - chair of the student council' |_ }}</h5>
							<p>{% content 'council/adamatina' %}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="flat-our-work">
	<div class="wrap-imagebox overflow owl-carousel-16">
		{% for image in gallery %}
		<div class="imagebox style2 v1">
			<div class="imagebox-image pr-2">
				<img src="{{ url('/') }}/storage/app/media/gallery/{{image}}" alt="">
			</div>
		</div>
		{% endfor %}
	</div>
</section>