title = "Graduates"
url = "/graduates"
layout = "base/web"
is_hidden = 0

[viewBag]
localeTitle[ru] = "Выпускники"
localeTitle[kz] = "Түлектер"
localeUrl[ru] = "/graduates"
localeUrl[kz] = "/graduates"

[testimonials]

[newsSmallPosts]
pageNumber = "{{ :page }}"
postsPerPage = 3
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
postFeatured = 0
postPage = 404
categoryPage = 404

[SchoolGraduates]
==
<?php
use Cms\Classes\Theme;
function onStart()
{
    $items     = [ ];
    // media dir
    $files     = File::allFiles( 'storage/app/media/graduates/' );
    // OR from theme dir
    // $theme_dir = Theme::getActiveTheme()->getDirName();
    // $files     = File::allFiles( themes_path( $theme_dir ) . '/assets/images/graduates/' );

    foreach ($files as $item) {
        $items[] = [
        	'full' => 'Алижан Аскаргалиев',
        	'image' => $item->getFilename(),
        	'university' => 'UCL'
        ];
    }

    rsort($items, SORT_NUMERIC); // Bigest file number first
    // $items = array_slice($items,0,20); // if you want a limit

    $this['gallery'] = $items;
}
?>
==
<section class="page-title parallax parallax2" style="background-image: url({{ url('/') }}{{ 'bgs/bg.jpeg' | media }});">
	<div class="title-heading">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="box-title style1">
						<h1>
							{{'Graduates'| _ }}
						</h1>
						<div class="breadcrumbs">
							<ul>
								<li>
									<a href="{{ url('/') }}" title="">{{'Home'}}</a>
									<i class="fa fa-angle-right" aria-hidden="true"></i>
								</li>
								<li><a title="">{{'Graduates'| _ }}</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="overlay-black"></div>
</section>
<section class="flat-team style3 background mb-0 pb-0" style="display:none;">
	<div class="container">
		<div class="row">
			<div class="col-md-12 ">
				<div class="flat-title">
					<h2>{{'Graduates' |_ }}</h2>
				</div>
			</div>
		</div>
		<div class="row mt-6 pt-4">
			{% for image in gallery %}
			<div class="col-md-3 col-sm-6">
				<div class="team-member style4">
					<div class="avatar">
						<img src="{{ url('/') }}/storage/app/media/graduates/{{image['image']}}" alt="">
					</div>
					<div class="info">
						<div class="name">
							<a title="">{{image['full']}}</a>
						</div>
						<div class="option">
							{{image['university']}}
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
{% component 'SchoolGraduates' %}
{% component 'newsSmallPosts' %}

<style type="text/css">
	h6{
		line-height: 22px !important;
	}
</style>

{% partial 'callonaction' %}