title = "THE UNIQUENESS OF THE PROGRAM"
url = "/uniqueness"
layout = "base/web"
is_hidden = 0

[viewBag]
localeUrl[ru] = "/uniqueness"
localeUrl[kz] = "/uniqueness"
==
<section class="page-title parallax parallax2" style="background-position: 30% 40px;background-image: url({{ url('/') }}{{'bgs/bg.jpeg' | media}});">
	<div class="title-heading">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="box-title style1">
						<h1>
							{{ 'The uniqueness of the program' |_ }}
						</h1>
						<div class="breadcrumbs">
							<ul>
								<li>
									<a href="{{ url('/') }}" title="">
										{{ 'word_home' |_ }}
									</a>
									<i class="fa fa-angle-right" aria-hidden="true"></i>
								</li>
								<li>
									<a title="">{{ 'The uniqueness of the program' |_ }}</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="overlay-black"></div>
</section>

<section class="flat-iconbox style3 pt-5">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-12">
				<div class="iconbox center box-shadow border">
					<div class="box-header">
						<div class="box-title">
							<a href="{{url('/')}}/accreditation" title="">{{'Accreditation' |_ }}</a>
						</div>
					</div>
					<div class="box-content">
						<p>
							{% content 'accreditation/main_short' %}
						</p>
						<div class="more-link">
							<a href="{{url('/')}}/accreditation" title="">{{'LEARN MORE'|_}}</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-12">
				<div class="iconbox center box-shadow border">
					<div class="box-header">
						<div class="box-title">
							<a href="{{url('/')}}/prices" title="">{{'Pricing policy' |_ }}</a>
						</div>
					</div>
					<div class="box-content">
						<p>
							{% content 'policy/main_short' %}
						</p>
						<div class="more-link">
							<a href="{{url('/')}}/prices" title="">{{'LEARN MORE'|_}}</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-12">
				<div class="iconbox center box-shadow border">
					<div class="box-header">
						<div class="box-title">
							<a href="{{url('/')}}/policy" title="">{{'Feature 3' |_ }}</a>
						</div>
					</div>
					<div class="box-content">
						<p>
							{% content 'policy/feature3' %}
						</p>
						<div class="more-link">
							<a href="{{url('/')}}/policy" title="">{{'LEARN MORE'|_}}</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-12">
				<div class="iconbox center box-shadow border">
					<div class="box-header">
						<div class="box-title">
							<a href="{{url('/')}}/policy" title="">{{'Feature 4' |_ }}</a>
						</div>
					</div>
					<div class="box-content">
						<p>
							{% content 'policy/feature4' %}
						</p>
						<div class="more-link">
							<a href="{{url('/')}}/policy" title="">{{'LEARN MORE'|_}}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="divider80"></div>

<section class="flat-our-mission" style="display:none;">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="history-video style1">
					<div class="flat-video-fancybox">
                        <a class="fancybox js-video-button" data-video-id="{{ 'youtube_promo' | _ }}"  href="javascript:void(0)"> 
                            <img src="{{ url('/') }}{{ 'campus/campus.jpg' | media }}" alt="images">
                        </a>
                    </div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="box-mission mt-0 pt-2">
					<h3>{{'CAMPUS' | _ }}</h3>
					<div class="text-content">
						<p>
							{% content 'aboutus/main' %}
						</p>
						<a href="{{ url('/') }}/about-us" class="mt-4 btn btn-primary" title="">{{'Learn more' | _ }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="divider80"></div>

<section class="flat-imagebox style2 background">
	<div class="container">
		<div class="row" style="display: none;">
			<div class="col-md-12">
				<div class="flat-title">
					<h3 class="font-weight-3">School</h3>
					<p class="sub-title">Our creative specialists work on an international level at branding, design and development. Both online and offline.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-12">
				<div class="imagebox style2" style="min-height: 350px;">
					<div class="imagebox-image">
						<img src="{{ url('/') }}{{ 'sis/primary.jpg' | media }}" alt="">
					</div>
					<div class="imagebox-content">
						<h6>
							<a href="{{ url('/') }}/primary" title="">Primary School</a>
						</h6>
						<p>Cambridge Primary: 1-5 grades</p>
						<div class="more-link">
							<a href="{{ url('/') }}/primary" title="">{{'Learn more' | _ }}</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-12">
				<div class="imagebox style2" style="min-height: 350px;">
					<div class="imagebox-image">
						<img src="{{ url('/') }}{{ 'sis/secondary.jpg' | media }}" alt="">
					</div>
					<div class="imagebox-content">
						<h6><a href="{{ url('/') }}/secondary" title="">Lower Secondary</a></h6>
						<p>Cambridge Secondary: 6-8 grades. </p>
						<div class="more-link">
							<a href="{{ url('/') }}/secondary" title="">{{'Learn more' | _ }}</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-12">
				<div class="imagebox style2" style="min-height: 350px;">
					<div class="imagebox-image">
						<img src="{{ url('/') }}{{ 'sis/icg.jpg' | media }}" alt="">
					</div>
					<div class="imagebox-content">
						<h6><a href="{{ url('/') }}/high" title="">IGCSE</a></h6>
						<p>Cambridge IGCSE: 9-10 grades.</p>
						<div class="more-link">
							<a href="{{ url('/') }}/high" title="">{{'Learn more' | _ }}</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-12">
				<div class="imagebox style2" style="min-height: 350px;">
					<div class="imagebox-image">
						<img src="{{ url('/') }}{{ 'sis/alevel.jpg' | media }}" alt="">
					</div>
					<div class="imagebox-content">
						<h6><a href="{{ url('/') }}/alevel" title="">AS/A level</a></h6>
						<p>AS/A level : 11-12 grades.</p><br>
						<div class="more-link">
							<a href="{{ url('/') }}/alevel" title="">{{'Learn more' | _ }}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="flat-testimonial style10" style="display: none;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="testimonial">
					<div class="testimonial-item style4">
						<div class="avatar">
							<div class="image">
								<img src="{{ url('/') }}{{ 'all/principle.jpeg' | media }}" alt="" style="max-width: 150px;">
							</div>
						</div>
						<blockquote>
							<p>
								{% content 'aboutus/principle' %}
							</p>
							<div class="info-author">
								<div class="name">
									{{'Principle fullname' | _}}
								</div> 
								<br>
								<div class="option">
									{{'Principle' | _}}
								</div>
							</div>
						</blockquote>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% partial 'callonaction' %}