title = "Vacancies"
url = "/work-with-us"
layout = "base/web"
is_hidden = 0
==

<section class="page-title parallax parallax2" style="background-image: url({{ url('/') }}{{ 'bgs/bg.jpeg' | media }});">
	<div class="title-heading">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="box-title style1">
						<h1>
							{{'Vacancies'| _ }}
						</h1>
						<div class="breadcrumbs">
							<ul>
								<li>
									<a href="{{ url('/') }}" title="">{{'Home'}}</a>
									<i class="fa fa-angle-right" aria-hidden="true"></i>
								</li>
								<li><a title="">{{'Vacancies'| _ }}</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="overlay-black"></div>
</section>

<section class="flat-row">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="flat-title left">
					<h3 class="font-weight-3">{{'Vacancies'| _ }}</h3>
				</div>
				<div class="accordion">
					<div class="accordion-toggle active">
						<div class="toggle-title">
							{{'TEACHER HANDBOOK' |_ }}
						</div>
						<div class="toggle-content">
							<p>
								{% content 'vacancie/handbook' %}
							</p>
							<a href="#" class="btn pt-2 mt-2 btn-primary">{{ 'Download' |_ }}</a>
						</div>
					</div>
					<div class="accordion-toggle">
						<div class="toggle-title">
							{{'VISA' | _ }}
						</div>
						<div class="toggle-content">
							<p>
								{% content 'vacancie/visa' %}
							</p>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="accordion-toggle">
						<div class="toggle-title">
							{{'Spectrum HR' | _ }}
						</div>
						<div class="toggle-content">
							<p>
								{% content 'vacancie/hr' %}
							</p>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="history-video">
					<div class="flat-video-fancybox">
                        <img src="{{ url('/') }}{{ 'all/bg7.jpg' | media }}" class="border-radius-5" alt="images">
                    </div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="flat-imagebox">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="flat-title">
					<h2>{{'Fields of work' |_ }}</h2>
					<p class="sub-title">{{'Fields of work description' |_ }}</p>
				</div>
			</div>
		</div><!-- /.row -->
		<div class="row">
			<div class="col-12 text-center mt-3">
				<h4>
					{{ 'No vacancies currenly exist!' | _ }}
				</h4>
			</div>
			<div class="col-md-6" style="display: none;">
				<div class="imagebox margin-bottom-30 overflow">
					<div class="imagebox-image margin-right-30">
						<img src="https://spectrum.edu.kz/uploads/job/G7CYMNr0z7SA24dBe9oaXTEi4aFdq4sePS0BL82L.jpeg" alt="">
					</div><!-- /.imagebox-image -->
					<div class="imagebox-content overflow" style="padding-top: 20px;">
						<div class="imagebox-title font-size-24" style="margin-bottom: 10px;">
							English language teacher
						</div>
						<p class="address font-size-16">Nur-sultan, Kazakhstan</p>
						<div class="more-link">
							<a style="margin-top: 10px;" href="#" title="">VIEW & APPLY</a>
						</div>
					</div><!-- /.imagebox-content -->
				</div>
			</div><!-- /.col-md-6 -->
			<div class="col-md-6" style="display: none;>
				<div class="imagebox margin-bottom-30 overflow">
					<div class="imagebox-image margin-right-30">
						<img src="https://spectrum.edu.kz/uploads/job/G7CYMNr0z7SA24dBe9oaXTEi4aFdq4sePS0BL82L.jpeg" alt="">
					</div><!-- /.imagebox-image -->
					<div class="imagebox-content overflow" style="padding-top: 20px;">
						<div class="imagebox-title font-size-24" style="margin-bottom: 10px;">
							English language teacher
						</div>
						<p class="address font-size-16">Nur-sultan, Kazakhstan</p>
						<div class="more-link">
							<a style="margin-top: 10px;" href="#" title="">VIEW & APPLY</a>
						</div>
					</div><!-- /.imagebox-content -->
				</div>
			</div>
		</div><!-- /.row -->
	</div>
</section>

<section class="flat-actions style3 bg-green">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="call-action style3 bg-transparent">
					<div class="text-action float-left">
						<h4 class="color-white font-weight-3">{{'Have questions?' | _ }}</h4>
						<p>{{'Have questions? description' | _ }}</p>
					</div>
					<div class="form-action float-right">
						<a href="{{ url('/')}}/contact-us" class="btn btn-primary color-white">{{ 'Contact us' |_ }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="flat-choose" style="display: none;">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="box-choose">
					<div class="flat-title style2 left">
						<h3>WHY CHOOSE US</h3>
					</div>
					<ul>
						<li>
							<div class="icon float-left">
								<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
							</div>
							<div class="text-box overflow">
								<div class="title">
									Reliability
								</div>
								<p>We trust in our employees because we choose smart, experienced, and hard working professionals.</p>
							</div>
						</li>
						<li>
							<div class="icon float-left">
								<i class="fa fa-clock-o" aria-hidden="true"></i>
							</div>
							<div class="text-box overflow">
								<div class="title">
									Expertise
								</div>
								<p>We trust in our employees because we choose smart, experienced, and hard working professionals.</p>
							</div>
						</li>
						<li>
							<div class="icon float-left">
								<i class="fa fa-diamond" aria-hidden="true"></i>
							</div>
							<div class="text-box overflow">
								<div class="title">
									Quality
								</div>
								<p>We trust in our employees because we choose smart, experienced, and hard working professionals.</p>
							</div>
						</li>
					</ul>
				</div><!-- /.box-choose -->
			</div><!-- /.col-md-6 -->
			<div class="col-sm-6 col-md-3">
				<img src="https://spectrum.edu.kz/uploads/job/G7CYMNr0z7SA24dBe9oaXTEi4aFdq4sePS0BL82L.jpeg" alt="">
			</div><!-- /.col-sm-6 col-md-3 -->
			<div class="col-sm-6 col-md-3">
				<img src="https://spectrum.edu.kz/uploads/job/nZWuFCTB2KwBXKSWCMJCbW2s55u0DCPlpxiIZKnE.jpeg" alt="">
			</div><!-- /.col-sm-6 col-md-3 -->
		</div><!-- /.row -->
	</div>
</section>