[viewBag]
==
<section class="flat-call-back style1">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="flat-title">
							<h3 class="font-weight-3">Request a call back.</h3>
							<p class="sub-title">Would you like to speak to one of our advisers? Just submit your contact details and we'll be in touch shortly. You can also email us if you prefer that type of communication.</p>
						</div>
						<div class="form-call-back overflow style1">
							<form id="subscribe-form" action="#" method="post" accept-charset="utf-8" data-mailchimp="true">
								<div id="subscribe-content">
									<div class="field-one-third">
										<div class="field-select">
											<select name="call-back">
												<option value="">About School</option>
												<option value="">Apply for the school</option>
												<option value="">Pricing</option>
											</select>
										</div>
									</div>
									<div class="field-one-third">
										<div class="field-name">
											<input type="text" id="subscribe-email" name="email" placeholder="Email">
										</div>
									</div>
									<div class="field-one-third">
										<div class="field-phone">
											<input type="text" id="subscribe-phone" name="phone" placeholder="Phone Number">
										</div>
									</div>
									<div class="btn-submit">
										<button type="button" id="subscribe-button" class="base">SUBMIT</button>
									</div>
								</div>
								<div id="subscribe-msg"></div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>