[viewBag]
==
<section class="flat-partner background">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<ul class="owl-carousel">
							<li>
								<img src="https://spectrum.edu.kz/uploads/logo/DhDt5Ybhn5rQmI06qiaFS4qNGsrVAqzX9uQd9vdb.png" alt="">
							</li>
							<li>
								<img src="https://spectrum.edu.kz/uploads/logo/DhDt5Ybhn5rQmI06qiaFS4qNGsrVAqzX9uQd9vdb.png" alt="">
							</li>
							<li>
								<img src="https://spectrum.edu.kz/uploads/logo/DhDt5Ybhn5rQmI06qiaFS4qNGsrVAqzX9uQd9vdb.png" alt="">
							</li>
							<li>
								<img src="https://spectrum.edu.kz/uploads/logo/DhDt5Ybhn5rQmI06qiaFS4qNGsrVAqzX9uQd9vdb.png" alt="">
							</li>
							<li>
								<img src="https://spectrum.edu.kz/uploads/logo/DhDt5Ybhn5rQmI06qiaFS4qNGsrVAqzX9uQd9vdb.png" alt="">
							</li>
							<li>
								<img src="https://spectrum.edu.kz/uploads/logo/DhDt5Ybhn5rQmI06qiaFS4qNGsrVAqzX9uQd9vdb.png" alt="">
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>