[viewBag]
==
<section class="flat-partner style1 bg-white">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<ul class="owl-carousel">
							<li>
								<img src="https://spectrum.edu.kz/uploads/logo/DhDt5Ybhn5rQmI06qiaFS4qNGsrVAqzX9uQd9vdb.png" alt="">
							</li>
							<li>
								<img src="https://spectrum.edu.kz/uploads/logo/DGQRjMpjU2UUq38GIRrc5MHRrvnX2BgR5LUgVxJM.png" alt="">
							</li>
							<li>
								<img src="https://spectrum.edu.kz/uploads/logo/bDkEE6blB16ppLwnrJ5f95Ix1p4JjCwtsvFZa05G.png" alt="">
							</li>
							<li>
								<img src="https://spectrum.edu.kz/uploads/logo/DhDt5Ybhn5rQmI06qiaFS4qNGsrVAqzX9uQd9vdb.png" alt="">
							</li>
							<li>
								<img src="https://spectrum.edu.kz/uploads/logo/bDkEE6blB16ppLwnrJ5f95Ix1p4JjCwtsvFZa05G.png" alt="">
							</li>
							<li>
								<img src="https://spectrum.edu.kz/uploads/logo/DhDt5Ybhn5rQmI06qiaFS4qNGsrVAqzX9uQd9vdb.png" alt="">
							</li>
						</ul><!-- /.owl-carousel -->
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section>