subject = "Quick action callback"
==

New message from {{ name }},

Contacts: {{ phone }}

Please, contact with him/her as soon as possible.
==

<p>
New message from {{ name }},
<br>
Contacts: {{ phone }}
<br>
Please, contact with him/her as soon as possible.
</p>
