{% set grads = __SELF__.grads %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

	<div id="mapid"></div>
	<style type="text/css">
		#mapid { 
			height: 500px; 
			width: 100%;
		}
	</style>

	<script>
		var mymap = L.map('mapid').setView([51.147611,71.1992067], 3);

		L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1Ijoia3VybWFuZ2F6eWlvIiwiYSI6ImNrcDdnNGE5YzEwODgyd3F0dGF0c3Q1NjgifQ.RI4x3XHQB6QOvGnzKk6yKA', {
			maxZoom: 18,
			attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
				'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
			id: 'mapbox/streets-v11',
			tileSize: 512,
			zoomOffset: -1
		}).addTo(mymap);

		{% for grad in grads %}
			L.marker(
				[ {{ grad.coordinates }}  ]
			).addTo(mymap).bindPopup(
				'<img style="max-width:100px;" src="{{ url("/")}}{{ grad.logo | media }}">' +
				'<br>' +
				'<br>' +
				'<div>' +

					{% for stu in grad.students %}
					'<h6 class="mt-0 mb-0">{{ stu }}</h6>' +
					{% endfor %}
					'<br>' +
					'<p class="p-0 m-0">State: {{ grad.state }}</p>' +
					'<p class="p-0 m-0">City: {{ grad.city }}</p>' +
					'<p class="p-0 m-0">University: {{ grad.university }}</p>' +
				'</div>'
			);
		{% endfor %}
	</script>