<table align="center" border="3" cellpadding="2" cellspacing="2" class="oc-alternate-rows">
	<tbody>
		<tr>
			<td>
				<div style="text-align: left;"><strong>   Grad</strong></div>
			</td>
			<td>
				<div style="text-align: left;"><strong>  2020 - 2021 y.  </strong></div>
			</td>
		</tr>
		<tr>
			<td>
				<div style="text-align: left;"><strong>   Grades 1-5</strong></div>
			</td>
			<td style="text-align: center;">
				<div style="text-align: left;">  5 300 000  ₸</div>
			</td>
		</tr>
		<tr>
			<td>
				<div style="text-align: left;"><strong>   Grades 6-8</strong></div>
			</td>
			<td style="text-align: center;">
				<div style="text-align: left;">  5 800 000  ₸</div>
			</td>
		</tr>
		<tr>
			<td>
				<div style="text-align: left;"><strong>   Grades 9-10</strong></div>
			</td>
			<td style="text-align: center;">
				<div style="text-align: left;">  6 450 000  ₸</div>
			</td>
		</tr>
		<tr>
			<td>
				<div style="text-align: left;"><strong>   Grades 11-12</strong></div>
			</td>
			<td style="text-align: center;">
				<div style="text-align: left;">  7 000 000  ₸</div>
			</td>
		</tr>
	</tbody>
</table>

<p>
	<br>
</p>

<p>The school meal is provided by a catering company that is contracted with the school and, therefore, parents need to make separate agreements with the company if they wish to have their children eat at school.</p>