<table align="center" border="3" cellpadding="2" cellspacing="2" class="oc-alternate-rows">
	<tbody>
		<tr>
			<td>
				<div style="text-align: left;"><strong>&nbsp; &nbsp;Grades</strong></div>
			</td>
			<td>
				<div style="text-align: left;"><strong>&nbsp; 2020 - 2021 y. &nbsp;</strong></div>
			</td>
		</tr>
		<tr>
			<td>
				<div style="text-align: left;"><strong>&nbsp; &nbsp;Grades 1-5</strong></div>
			</td>
			<td style="text-align: center;">
				<div style="text-align: left;">&nbsp; 5 700 000 &nbsp;₸</div>
			</td>
		</tr>
		<tr>
			<td>
				<div style="text-align: left;"><strong>&nbsp; &nbsp;Grades 6-8</strong></div>
			</td>
			<td style="text-align: center;">
				<div style="text-align: left;">&nbsp; 6 200 000 &nbsp;₸</div>
			</td>
		</tr>
		<tr>
			<td>
				<div style="text-align: left;"><strong>&nbsp; &nbsp;Grades 9-10</strong></div>
			</td>
			<td style="text-align: center;">
				<div style="text-align: left;">&nbsp; 6 900 000 &nbsp;₸</div>
			</td>
		</tr>
		<tr>
			<td>
				<div style="text-align: left;"><strong>&nbsp; &nbsp;Grades 11-12</strong></div>
			</td>
			<td style="text-align: center;">
				<div style="text-align: left;">&nbsp; 7 000 000 &nbsp;₸</div>
			</td>
		</tr>
	</tbody>
</table>

<p>
	<br>
</p>

<p>
	<br>
</p>