<p>The company has an office at the school where parents can refer to regarding contracts, suggestions, and complaints about food and its services.</p>

<p>
	<br>
</p>

<p>The school meal is provided by a catering company that is contracted with the school and, therefore, parents need to make separate agreements with the company if they wish to have their children eat at school.</p>