<p>Cambridge provides two types of tests for use during Secondary 1; at the end of a stage (school year) and at the end of the programme (end of grade 8):&nbsp;<a href="https://ask.cie.org.uk/hc/en-gb/articles/203546941-What-are-the-Cambridge-Secondary-1-Progression-Tests-" target="_blank">Cambridge Secondary Progression Tests</a> and&nbsp;<a href="http://www.cie.org.uk/programmes-and-qualifications/cambridge-secondary-1/cambridge-checkpoint/" target="_blank">Cambridge Secondary Checkpoint</a>.</p>

<p>Cambridge Secondary 1 has its roots in the National Curriculum for England. Each subject area has a separate curriculum framework presenting the learning objectives for each stage in content areas or strands. This is designed specifically for an international audience. It provides a clear structure for planning each stage as well as a description of the expectations for learners as they progress through Cambridge Secondary 1. The optional testing structure is also aligned with the expectations of the National Curriculum for England.</p>

<p>The English as a Second Language curriculum frameworks and Progression Tests which are available for Grade 6 to 8, are aligned with the&nbsp;<a href="http://www.cambridgeenglish.org/exams/cefr/" target="_blank">Common European Framework of Reference</a> (CEFR).</p>