<p>The English as a Second Language curriculum frameworks and Progression Tests which are available for Grade 6 to 8, are aligned with the <a href="http://www.cambridgeenglish.org/exams/cefr/" target="_blank">Common European Framework of Reference</a> (CEFR).</p>