<ul>
	<li>English Language</li>
	<li>English as a Second Language</li>
	<li>Mathematics</li>
	<li>Science</li>
	<li>Computer Science</li>
	<li>Robotics</li>
	<li>Cambridge Global Perspectives</li>
	<li>Selective Course (French, Turkish, Russian)</li>
</ul>