<div class="flat-language style1 float-right">
	{% for code, name in locales %}
		{% if code == activeLocale %}
	    	<a href="javascript:void(0)" title="{{ name }}">{{ name }}</a>
		{% endif %}
    {% endfor %}
	
	<ul class="unstyled box-shadow">
		{% for code, name in locales %}
			<li>
				<a href="javascript:void(0)" title="{{ name }}" onclick="changeLanguage( '{{ code }}' )">{{ name }}</a>
			</li>
        {% endfor %}
	</ul>
</div>

<script>
	function changeLanguage(lang) {
	  var link = window.location.pathname;
        
	  if (link.substring(0, 3) == '/en' || link.substring(0, 3) == '/kz' || link.substring(0, 3) == '/ru') {
	  	window.location.replace('/' + lang + link.substring(3))
	  }else{
	  	window.location.replace('/' + lang + link)
	  }
	}
</script>