<p><span lang="ru"><span data-language-for-alternatives="ru" data-language-to-translate-into="en" data-phrase-index="0">В стоимость обучения входят: обычные занятия в классе, учебники по курсу, комплект школьной формы, комплект для физкультуры, питание.</span></span> </p>