<p><span lang="kk"><span data-language-for-alternatives="kk" data-language-to-translate-into="en" data-phrase-index="0">Оқу ақысына мыналар кіреді: әдеттегі сыныптағы нұсқаулық, курстық оқулықтар, мектеп формасының жиынтығы, PE жиынтығы, тамақтану.</span></span> </p>