<p><span lang="kk"><span data-language-for-alternatives="kk" data-language-to-translate-into="en" data-phrase-index="0">Spectrum International School сауда белгілерін (логотиптер) қызметкерлер мен студенттер пайдалана алады.</span><span data-language-for-alternatives="kk" data-language-to-translate-into="en" data-phrase-index="1">&nbsp;</span></span></p>

<p><span lang="kk"><span data-language-for-alternatives="kk" data-language-to-translate-into="en" data-phrase-index="2">Spectrum International School сауда белгілерін (логотиптерін) үшінші тұлғалар сауда белгілерін (логотиптерін) пайдалану құқығы алдын ала алынған жағдайда ғана пайдалана алады.</span> <span data-language-for-alternatives="kk" data-language-to-translate-into="en" data-phrase-index="3">Осындай құқықты алуға байланысты барлық сұрақтар бойынша мектеп директорына хабарласуға болады.</span></span> </p>