<p><span lang="ru"><span data-language-for-alternatives="ru" data-language-to-translate-into="en" data-phrase-index="0">Товарные знаки (логотипы) Spectrum International School могут использоваться сотрудниками и студентами.</span><span data-language-for-alternatives="ru" data-language-to-translate-into="en" data-phrase-index="1">&nbsp;</span></span></p>

<p><span lang="ru"><span data-language-for-alternatives="ru" data-language-to-translate-into="en" data-phrase-index="2">Товарные знаки (логотипы) Spectrum International School могут использоваться третьими сторонами только при условии, что право на использование товарных знаков (логотипов) было получено заранее.</span> <span data-language-for-alternatives="ru" data-language-to-translate-into="en" data-phrase-index="3">По всем вопросам, связанным с получением такого права, вы можете обращаться к директору школы.</span></span> </p>