<p>If you represent a school or want to use a branded logo, etc., then use this file. If you have additional questions or if you need additional files that are not there, then contact media@spectrum.edu.kz</p>

<p>
	<br>
</p>