<p>Spectrum International School trademarks (logos) may be used by staff and students.</p>

<p>&nbsp;</p>

<p>Spectrum International School trademarks (logos) may be used by third parties only on condition that the right to use the trademarks (logos) has been obtained in advance. For all questions related to obtaining such a right, you can contact the school principal.</p>