<blockquote>

	<p class="oc-text-bordered"><strong>Attention!</strong> For illegal use of the Spectrum International School trademarks (logos), the legislation of the Republic of Kazakhstan provides for civil, administrative and criminal liability. </p>
</blockquote>