{% set posts = __SELF__.posts %}

    <section class="flat-imagebox style9">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="flat-title">
                        <h2 class="font-weight-3">{{ 'Latest News' | _ }}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for post in posts %}
                <div class="col-md-4">
                    <div class="imagebox style2">
                        {% if post.image %}
                        <div class="imagebox-image">
                            <img src="{{ url('/') }}{{ post.image|media }}" alt="{{ post.title }}">
                        </div>
                        {% endif %}
                        <div class="imagebox-content">
                            <h6>
                                <a href="{{ url('/') }}/news/{{ post.slug }}" title="">{{ post.title }}</a>
                            </h6>

                            {{ post.introductory|raw }}

                            <div class="more-link">
                                <a href="{{ url('/') }}/news/{{ post.slug }}" title="">{{ 'READ MORE' | _ }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="col-md-12 text-center">
                    <a href="{{ url('/') }}/news" title="" class="btn btn-primary" style="font-size: 16px;">{{'LEARN MORE' |_ }}</a>
                </div>
            </div>
        </div>
    </section>