[viewBag]
==
{% partial 'carusel' %}
        <footer class="style8">
				<div class="container">
					<div class="row">
						<div class="col-lg-3">
							<div class="widget-about style1">
								<div class="logo-ft">
									<a href="{{ url('/') }}" title="">
										<img src="{{ url('/') }}{{'logo-white.png' | media }}" style="max-width: 50%;">
									</a>
								</div>
								<ul class="flat-infomation">
									<li class="phone text-white">
										{{ 'official_address' |_ }}
									</li>
									<li class="phone">
										<a href="tel:{{ 'official_phone_number' |_ }}" title="">
											<i class="fa fa-phone text-white" aria-hidden="true"></i>
											{{ 'official_phone_number' |_ }}
										</a>
									</li>
									<li class="email">
										<a href="mail:{{ 'official_email' |_ }}" title="">
											<i class="fa fa-envelope text-white" aria-hidden="true"></i>{{ 'official_email' |_ }}
										</a>
									</li>
								</ul>
								<ul class="social-ft style1">
									<li>
										<a href="{{ 'official_facebook_link' |_ }}" title="Facebook">
											<i class="fa fa-facebook" aria-hidden="true"></i>
											<i class="fa fa-facebook" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="{{ 'official_instagram_link' |_ }}" title="Instagram">
											<i class="fa fa-instagram" aria-hidden="true"></i>
											<i class="fa fa-instagram" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="{{ 'official_whatsapp_link' |_ }}" title="Whatsapp">
											<i class="fa fa-whatsapp" aria-hidden="true"></i>
											<i class="fa fa-whatsapp" aria-hidden="true"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="widget-menu-ft style1">
								<div class="widget-title">
									{{ 'SIS' | _ }}
								</div>
								<ul>
								    <li>
										<a href="{{ url('/') }}" title="">
											{{ 'Home' | _ }}
										</a>
									</li>
								    <li>
										<a href="{{ url('/') }}/about-us" title="">
											{{ 'About us' | _ }}
										</a>
									</li>
								    <li>
										<a href="{{ url('/') }}/accreditation" title="">
											{{ 'Accreditation' | _ }}
										</a>
									</li>
								    <li>
										<a href="{{ url('/') }}/graduates" title="">
											{{ 'Graduates' | _ }}
										</a>
									</li>
									<li>
										<a href="{{ url('/') }}/spectrum-employees" title="">
											{{ 'Spectrum employees' | _ }}
										</a>
									</li>
									<li>
										<a href="{{ url('/') }}/work-with-us" title="">
											{{ 'Work with us' | _ }}
										</a>
									</li>
								    <li>
										<a href="{{ url('/') }}/campus" title="">
											{{ 'Campus' | _ }}
										</a>
									</li>
								    <li>
										<a href="{{ url('/') }}/branding" title="">
											{{ 'Branding' | _ }}
										</a>
									</li>
								    <li>
										<a href="{{ url('/') }}/education-policy" title="">
											{{ 'Education policy' | _ }}
										</a>
									</li>
									<li>
										<a href="{{ url('/') }}/contact-us" title="">
											{{ 'Key contacts' | _ }}
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="widget-menu-ft style1">
								<div class="widget-title">
									{{ 'SIS world' | _ }}
								</div>
								<ul>
								    <li>
										<a href="{{ url('/') }}/student-council" title="">
											{{ 'Student council' | _ }}
										</a>
									</li>
									<li>
										<a href="{{ url('/') }}/student-clubs" title="">
											{{ 'Student clubs' | _ }}
										</a>
									</li>
									<li>
										<a href="{{ url('/') }}/newspaper" title="">
											{{ 'Newspaper' | _ }}
										</a>
									</li>
									<li>
										<a href="{{ url('/') }}/news" title="">
											{{ 'word_news' | _ }}
										</a>
									</li>
									<li>
										<a href="https://spectrum.edupage.org/" title="">
											{{ 'Edupage' | _ }}
										</a>
									</li>
								</ul>

								<div class="widget-title mt-4">
									{{ 'Admission' | _ }}
								</div>
								<ul>
									<li>
										<a href="{{ url('/') }}/admissions" title="">
											{{ 'Admissions' | _ }}
										</a>
									</li>
									<li>
										<a href="{{ url('/') }}/prices" title="">
											{{ 'Price policy' | _ }}
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="widget-menu-ft style1">
								<div class="widget-title">
									{{ 'Services' | _ }}
								</div>
								<ul>
									<li>
										<a href="{{ url('/') }}/uniqueness" title="">
											{{ 'The uniqueness of the program' | _ }}
										</a>
									</li>
									<li>
										<a href="{{ url('/') }}/primary" title="">
											{{ 'Primary' | _ }}
										</a>
									</li>
									<li>
										<a href="{{ url('/') }}/secondary" title="">
											{{ 'Secondary' | _ }}
										</a>
									</li>
									<li>
										<a href="{{ url('/') }}/high" title="">
											{{ 'Cambridge IGCSE' | _ }}
										</a>
									</li>
									<li>
										<a href="{{ url('/') }}/alevel" title="">
											{{ 'AS/A level' |_ }}
										</a>
									</li>
									<li>
										<a href="{{ url('/') }}/examination-center" title="">
											{{ 'Examination Center' | _ }}
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</footer>

			<section class="footer-bottom style3">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<ul class="menu-ft float-right">
								<li><a href="{{ url('/') }}/privacy" title="">{{ 'Privacy' | _ }}</a></li>
								<li><a href="{{ url('/') }}/terms" title="">{{ 'Terms' | _ }}</a></li>
								<li><a href="{{ url('/') }}/help" title="">{{ 'Help' | _ }}</a></li>
							</ul>
							<p class="copyright">2021 {{ 'Company name' | _ }}. All Rights Reserved</p>
						</div>
					</div>
				</div>
			</section>

			<div class="button-go-top">
				<a href="#" title="" class="go-top">
					<i class="fa fa-chevron-up"></i>
				</a>
			</div>