[viewBag]

[staticMenu]
code = "webmenu"
==
<section id="header" class="header">
			<div class="container-fluid">
				<div id="logo" class="logo float-left">
					<a href="{{ url('/') }}" title="{{'Company name' |_ }}">
						<img src="{{ url('/') }}{{'logo.png' | media }}">
					</a>
				</div>
				<div class="menu-extra">
					<div class="box-canvas">
						<span class="ti-align-right"></span>
					</div>
				</div>

				<ul class="flat-infomation">
					<li class="purchase">
						<a href="{{ 'applylink' | _ }}" title="">{{ 'Apply now' | _ }}</a>
					</li>
				</ul>

				<div class="nav-wrap" >
					<div class="btn-menu" style="display:none;">
				        <span></span>
				    </div>
					<div id="mainnav" class="mainnav">
					    {% component 'staticMenu' %}
					</div>
				</div>
				<div class="clearfix"></div>
			</div>

			<div class="menu-canvas">
				<div class="close">
					<i class="fa fa-times" aria-hidden="true"></i>
				</div>
				<div class="widget-about pt-0">
					<h5>{{ 'Company name' | _ }}</h5>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6">
							<div class="widget-menu-ft style1">
								<div class="widget-title">
									{{ 'SIS' | _ }}
								</div>
								<ul>
									<li>
										<a href="{{ url('/') }}" title="">
											{{ 'Home' | _ }}
										</a>
									</li>
								    <li>
										<a href="{{ url('/') }}/about-us" title="">
											{{ 'About us' | _ }}
										</a>
									</li>
								    <li>
										<a href="{{ url('/') }}/accreditation" title="">
											{{ 'Accreditation' | _ }}
										</a>
									</li>
								    <li>
										<a href="{{ url('/') }}/graduates" title="">
											{{ 'Graduates' | _ }}
										</a>
									</li>
									<li>
										<a href="{{ url('/') }}/spectrum-employees" title="">
											{{ 'Spectrum employees' | _ }}
										</a>
									</li>
									<li>
										<a href="{{ url('/') }}/work-with-us" title="">
											{{ 'Work with us' | _ }}
										</a>
									</li>
								    <li>
										<a href="{{ url('/') }}/campus" title="">
											{{ 'Campus' | _ }}
										</a>
									</li>
								    <li>
										<a href="{{ url('/') }}/branding" title="">
											{{ 'Branding' | _ }}
										</a>
									</li>
								    <li>
										<a href="{{ url('/') }}/education-policy" title="">
											{{ 'Education policy' | _ }}
										</a>
									</li>
									<li>
										<a href="{{ url('/') }}/contact-us" title="">
											{{ 'Key contacts' | _ }}
										</a>
									</li>
								</ul>
							</div>
							<div class="widget-menu-ft style1 mt-4">
								<div class="widget-title">
									{{ 'SIS world' | _ }}
								</div>
								<ul>
									<li>
										<a href="{{ url('/') }}/student-council" title="">
											{{ 'Student council' | _ }}
										</a>
									</li>
									<li>
										<a href="{{ url('/') }}/student-clubs" title="">
											{{ 'Student clubs' | _ }}
										</a>
									</li>
									<li>
										<a href="{{ url('/') }}/newspaper" title="">
											{{ 'Newspaper' | _ }}
										</a>
									</li>
									<li>
										<a href="{{ url('/') }}/news" title="">
											{{ 'word_news' | _ }}
										</a>
									</li>
									<li>
										<a href="https://spectrum.edupage.org/" title="">
											{{ 'Edupage' | _ }}
										</a>
									</li>
								</ul>

							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="widget-menu-ft style1">
								<div class="widget-title">
									{{ 'Services' | _ }}
								</div>
								<ul>
									<li>
										<a href="{{ url('/') }}/uniqueness" title="">
											{{ 'The uniqueness of the program' | _ }}
										</a>
									</li>
									<li>
										<a href="{{ url('/') }}/primary" title="">
											{{ 'Primary' | _ }}
										</a>
									</li>
									<li>
										<a href="{{ url('/') }}/secondary" title="">
											{{ 'Secondary' | _ }}
										</a>
									</li>
									<li>
										<a href="{{ url('/') }}/high" title="">
											{{ 'Cambridge IGCSE' | _ }}
										</a>
									</li>
									<li>
										<a href="{{ url('/') }}/alevel" title="">
											{{ 'AS/A level' |_ }}
										</a>
									</li>
									<li>
										<a href="{{ url('/') }}/examination-center" title="">
											{{ 'Examination Center' | _ }}
										</a>
									</li>
								</ul>

								<div class="widget-title mt-4">
									{{ 'Admission' | _ }}
								</div>
								<ul>
									<li>
										<a href="{{ url('/') }}/admissions" title="">
											{{ 'Admissions' | _ }}
										</a>
									</li>
									<li>
										<a href="{{ url('/') }}/prices" title="">
											{{ 'Price policy' | _ }}
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>