<p><strong>WORK PERMIT and WORK VISA of REPUBLIC of KAZAKHSTAN</strong></p>

<p>Foreign nationals travelling to the Republic of Kazakhstan to work must get a work visa. In order to obtain a work visa, a proper work permit and a letter of the inviting legal entity registered in the Republic of Kazakhstan are required.<strong>&nbsp;</strong></p>

<p><strong>Necessary Documents to Apply for a Work Permit</strong></p>

<p>Applicant teachers must provide the school with the following documents:</p>

<ul>
	<li><em>Copy of passport</em>: The pages should carry the date of issue, validity date, photo, and identity information. Passport must be valid for at least two or more years. If the teacher intends to stay in Kazakhstan for some more years, it is strongly recommended to have a passport with long-time validity. Because the change of passport may cause the visa and permit process to start again.</li>
	<li><em>Diploma(s)</em> (Apostilled or legalized): Teacher must present a Bachelor of Education diploma. In the case teacher does not hold a Bachelor of Education, he/she must hold a four year school (university, institution, college, etc) diploma <em>and</em> a teaching certificate (i.e. PGCE).</li>
	<li><em>Official transcript</em> (Apostilled or legalized)</li>
	<li><em>Medical Report</em>: A sealed and signed forehead letter by the doctor/hospital proves that the teacher <em>fits to work</em>. X-ray, HIV test results and other test results/medical forms if any must be attached to the letter. (Teachers pass through an annual medical check-up in Nur-Sultan too.)</li>
	<li><em>Police criminal report</em>: It must be issued in the last six months.</li>
	<li><em>Certificate(s) of employment:</em> Employment certificates must indicate at least three years of educational experience in the area of diploma.</li>
</ul>

<p>Hard copies of the mentioned documents above are not necessary for applying for a work permit. The teacher provides the school with the clear scan copies bearing in the mind that he/she must present the original copies when he/she arrives at Nur-Sultan.<strong>&nbsp;</strong></p>

<p><strong>How to Get a Work Permit?</strong></p>

<p>Applicant teachers get the documents apostilled or legalized and provide the school with the clearly scanned copies via e-mail. Nurorda notarizes and translates them into Russian and apply for a work permit for the teacher. It takes about a month to get a work permit. (All the other steps that Nurorda has to follow such as domestic market search, getting a quota for work, the advertisement for the vacancy, in-school documentations, etc. are not mentioned here since the teacher has no concern with them.) A work permit is given for three years. Moreover, the following work permit applications will be much easier since all necessary documents would be apostilled or legalized already.<strong>&nbsp;</strong></p>

<p><strong>How to Get a Work Visa?</strong></p>

<p>Having a work visa is very simple after you have a work permit. School sends <em>the work permit letter</em> to the Embassy of RoK where the applicant applies for a work visa. For visa application, passport and the work permit letter are enough. Applicants are granted a work visa in five working days. Work visa duration is at most a year and renewable as long as a work permit exists.<strong>&nbsp;</strong></p>

<p><strong>What is “Apostille”?</strong><strong>&nbsp;</strong></p>

<p>The Hague Convention Abolishing the Requirement for Legalisation for Foreign Public Documents, the Apostille convention, or the Apostille treaty is an international treaty drafted by the Hague Conference on Private International Law. It specifies the modalities through which a document issued in one of the signatory Countries can be certified for legal purposes in all the other signatory states. Such a certification is called an apostille (French: <em>certification</em>). It is an international certification comparable to a notarisation in domestic law.</p>

<p>Apostilles are affixed by <em>Competent Authorities</em> designated by the government of a state which is a party to the convention. A list of these authorities is maintained by the Hague Conference on Private International Law. Examples of designated authorities are embassies, ministries, courts or (local) governments. For example, in the United States, the Secretary of State of each state and his or her deputies are usually competent authorities. In the United Kingdom, all apostilles are issued by the Foreign and Commonwealth Office in Milton Keynes.</p>

<p>To be eligible for an apostille, a document must first be issued or certified by an officer recognised by the authority that will issue the apostille. For example, in the US state of Vermont, the Secretary of State maintains specimen signatures of all notaries public, so documents that have been notarised are eligible for apostilles. Likewise, courts in the Netherlands are eligible for placing an apostille on all municipal civil status documents directly. In some cases, intermediate certifications may be required in the country where the document originates before it will be eligible for an apostille. For example, in New York City, the Office of Vital Records (which issues, among other things, birth certificates) is not directly recognised by the New York Secretary of State. As a consequence, the signature of the City Clerk must be certified by the County Clerk of New York County to make the birth certificate eligible for an apostille. In Japan all the official documents are issued in Japanese language, Ministry of Foreign Affairs (MOFA, JAPAN) then provides an apostille for these documents. In India, the apostille certification can be obtained from the Ministry of External Affairs.</p>

<p>The apostille itself is a stamp or printed form consisting of 10 numbered standard fields. On the top is the text <em>APOSTILLE</em>, under which the text <em>Convention de La Haye du 5 October 1961</em> (English: Hague Convention of 5 October 1961) is placed.</p>

<p>The information can be placed on the (back of the) document itself or attached to the document as an allonge. The Apostille does not give information regarding the quality of the document but certifies the signature (and the capacity of who placed it) and correctness of the seal/stamp on the document which must be certified. In 2005 The Hague Conference surveyed its members and produced a report in December 2008 which expressed serious concerns about Diplomas and Degree certificates, titled “The Application of the Apostille Convention to Diplomas Including Those Issued by Diploma”. In February 2009 the Hague Conference decided to amend the wording on the Apostille to make it clear that no one was checking whether the document being attested was genuine or a fake. The new wording to be used was as follows. “This Apostille only certifies the signature, the capacity of the signer and the seal or stamp it bears. It does not certify the content of the document for which it was issued.”</p>

<p>An updated version of this list and more information can be found at the Le Hague website (http://www.hcch.net).<strong>&nbsp;</strong></p>

<p><strong>What is “Legalization”?</strong></p>

<p>The documents certified by the states that have not signed the Hague Convention must be <em>legalized</em>. Legalization can only be performed at an Embassy of the Republic of Kazakhstan. Documents must be presented to an Embassy of RoK after certified by the foreign ministry (or a related office) of the country where the document originated. Any kind of authorization such as red ribbon is not a substitute for legalization but the requirement for legalization. In practice, this means the document must be certified twice before it can have legal effect in Kazakhstan. For example, as a non-signatory of the Convention, Canadian documents for use abroad must be certified by the Deputy Minister of Foreign Affairs in Ottawa or by a consular official abroad and subsequently legalized at Embassy of RoK.<strong>&nbsp;</strong></p>

<p><strong>Registration with the Immigration police</strong></p>

<p>Upon arrival to Kazakhstan, all foreign nationals receive a local immigration card at the airport by the customs officers. The card should not be lost and must be kept in the passport. If it is lost, the passport holder will not be allowed to leave the country until a replacement has been obtained. Foreign nationals are required to register with the Immigration Police upon arrival within 5 workdays.</p>

<p>To make this registration, you will need to submit your passport to the Human Resources Department within 5 calendar days from the date of your entry to Kazakhstan. Same registration rules apply for every re-entry to Kazakhstan.</p>