/**
  * Color
  * Border Color
  * Background Color  
*/

/* Color
-------------------------------------------------------------- */
a:hover,
input[type="button"],
input[type="reset"],
input[type="submit"],
#btn-message a,
.top-title .top-post,
.menu-extra > div > span:hover,
.iconbox.style1.v3 .box-header .icon span,
.testimonial-item blockquote > span,
.iconbox.style1 .box-header .icon span,
.widget-ft h3.title,
.imagebox.style2.border .imagebox-content ul li a,
.menu-mega ul.menu-mega-child li a:before,
.submenu > ul > li > .submenu-child li a:before,
footer.style3 .footer-bottom .logo-ft a,
footer.style3 .footer-bottom .widget-about-ft .widget-title,
.contact-classic.style1 > p,
.contact-classic.style1 .btn-submit a,
#btn-message.style1 a,
.iconbox.style2.v1 .box-header .icon,
ul.tab-product-list li.active, ul.tab-product-list li:hover,
.switcher-container h2 a.active:after,
.switcher-container h2 i,
.tab-about ul.tab-list-about li:hover, 
.tab-about ul.tab-list-about li.active,
.flat-old-year ul.list-year li > p.date,
.text-video a,
.jobs ul li.active a, .jobs ul li a:hover,
.tab-about.style2 .content-tab ul li i,
.tab-about.style2 ul.tab-list-about li .box-header .icon span,
article.box-price.style1 .content-price ul li i,
.testimonial-item.style2.v1 .info-author .option,
.contact-classic > p,
.iconbox .box-header .icon i,
.wrap-comming-soon .box-socials ul li a:hover,
.blog-post .entry-post-title .top-post,
.blog-post .entry-post-title h2 a:hover,
.testimonial-item.style4 blockquote .info-author .option,
.iconbox .box-content .more-link a,
.title-iconbox span, .square .numb-count,
.title-iconbox.style1 .view a,
.accordion.style1 .accordion-toggle .toggle-title:before,
.countdown.style1 .square .numb,
.countdown-2 .square .numb,
.wrap-counter.style1.v3 .square > span,
.wrap-counter.style1.v2 .square > span,
blockquote > span, .video-title h6,
ul.list-styles li a:hover, ul.list-styles li a.active,
ul.list-styles.font-awesome li a:before,
ul.list-styles.font-color li a:hover, ul.list-styles.font-color li a.active, 
ul.list-styles.style1 li a:hover, ul.list-styles.style1 li a.active,
ul.list-styles li a:hover i, ul.list-styles li a.active i,
ul.list-styles.style1 li a:hover i, ul.list-styles.style1 li a.active i,
.iconbox.style1.v3 .box-header .icon span.color-default,
.wrap-counter-1.style2 .counter .square .numb-count
 {
	color: #005680;
}

.today-deal a:hover {
	color: #fff;
}

/* Border Color
-------------------------------------------------------------- */
.box-cart .inner-box > a:hover > div.icon-cart,
.box-cart .inner-box ul.menu-compare-wishlist li a:hover,
.box-cart .inner-box .dropdown-box .btn-cart a.view-cart,
 .box-call-action .btn-more a,
.contact-classic.style1 .btn-submit a,
.box-cart .subcart .btn-cart a.check-out,
article.box-price.style1 .content-price .btn-price a,
.comment .comment-content .comment-data a:hover,
.call-action.style2 .form-action .wrap-input-email input:focus,
.title-iconbox.style1 .view a,
.iconbox.style1.v5:hover,
.countdown.style2 .square,
.info-box.info-text.style1 .more-link a,
.tp-caption.flat-button-slider.style1,
.flat-actions .call-action .form-action .wrap-input-email input:focus {
	border-color: #005680;
}

.mainnav ul.menu > li > a {
	border-color: #fff;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
#form-email-footer:focus {
	border-color: #005680;
}

/* Background Color
-------------------------------------------------------------- */
button,
input[type="button"], 
input[type="reset"], 
input[type="submit"],
.go-top,
.flat-video-fancybox a.fancybox:hover:after,
.tp-caption.flat-button-slider.bg-blue,
.iconbox.style1.v3.border-bottom:before,
.iconbox.style1.v1:hover,
.iconbox.center.style1.v1.custom-padding:before,
.progres .progress-item .progress-bar .progress-animate,
.portfolio-item .portfolio-image:before,
.box-call-action .btn-more a:after,
footer.style3 .footer-bottom ul.social-ft.style1 li a:hover,
.wrap-error .content-error .btn-more a.background-blue,
ul.flat-infomation > li.purchase a,
.box-cart .subcart .btn-cart a.check-out,
.accordion .accordion-toggle .toggle-title:before,
.flat-old-year ul.list-year li span,
.text-me .text-header a,
.tab-about.style2 ul.tab-list-about li .box-header:hover, 
.tab-about.style2 ul.tab-list-about li.active .box-header,
article.box-price:hover .header-price a,
button.flat-button-form,
.comment .comment-content .comment-data a:hover,
.imagebox.style1 .imagebox-header .add-cart a:hover,
.imagebox.style1 .imagebox-header .view a:hover,
.more-link a:before, .iconbox.style1.v5:hover,
.read-more a, .countdown.style2.v1 .square .text:before,
.box-line li:hover, .box-socials.circle-hover ul li a:before,
.box-socials.bg-square ul li a:hover:before,
.box-socials.circle ul li a:hover:before,
footer.style4 ul.social-ft.style1.v1 li a:hover,
.progres.style2 .progress-item .progress-bar .progress-animate:before,
.wrap-portfolio.grid.style5.v1 .portfolio-item .imagebox.style1 .imagebox-header .add-cart a:hover,
.box-services:after
 {
	background: #005680;
}

.box-services:after {
	opacity: 0.9;
}

.portfolio-item:hover .portfolio-image:before {
	opacity: 0.2;
}

.title-iconbox.style1 .view a:after, 
button.flat-button-form:after, .read-more a:after, 
.info-text .more-link a:after, .box-services .btn-more a:after, 
.wrap-error .content-error .btn-more a:after, .base:after, 
.call-action .form-action .wrap-input-email button:after, 
.wrap-sign-in .btn-submit button:after, 
.tp-caption.flat-button-slider:after, 
.form-call-back .btn-submit button:after, .get-quote a:after, 
.box-call-action .btn-more a:after, 
.box-cart .subcart .btn-cart a:after, 
ul.flat-infomation > li.purchase a:after, 
.contact-classic.style1 .btn-submit a:after, 
.call-actions.style4 .btn-more a:after, 
.view-project a:after, 
.widget-contact-me .btn-contact a:after, 
.text-me.style1 .text-header a:after,
button.flat-button-form:after, .read-more a:after, 
.info-text .more-link a:after, 
.box-services .btn-more a:after, 
.wrap-error .content-error .btn-more a:after, 
.tp-caption.flat-button-slider:after, 
.form-call-back .btn-submit button:after, 
.box-cart .subcart .btn-cart a:after, 
ul.flat-infomation > li.purchase a:after {
	background: #12b1bf;
}