{% set employees = __SELF__.employees %}
{% set divider = __SELF__.divider %}




<section class="flat-team style3 pt-0">
    <div class="container">
        {% for divide in divider %}
        <div class="row" style="padding-top: 50px;">
            <div class="col-md-12">
                <div class="flat-title">
                    <h3>{{ divide }}</h3>
                </div>
            </div>
        </div>
        <div class="row">
            {% for employee in employees %}
            {% if divide == employee.positiondivider %}
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="team-member style2">
                    <div class="avatar">
                        <img src="{{ url('/')}}{{ employee.image | media }}" alt="">
                    </div>
                    <div class="info">
                        <div class="name">
                            <a>{{ employee.fullname }}</a>
                        </div>
                        <div class="option">
                            {{ employee.position }}
                            <br>
                            {{ employee.email }}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</section>