{% set posts = __SELF__.posts %}

<div class="post-list" style="display: none;">
    {% for post in posts %}
    <div class="post-item">
        {% if post.image %}<div class="post-image"><a href="/{{ postPage }}/{{ post.slug }}"><img src="{{ post.image|media }}" alt="{{ post.title }}"></a></div>{% endif %}

        <h2 class="post-title"><a href="/{{ postPage }}/{{ post.slug }}">{{ post.title }}</a></h2>
        <p class="post-date">{{ post.published_at|date('Y-m-d') }}</p>
        {% if post.tags %}
        <p class="post-tags">Tags:
            {% for tag in post.tags %}
            <a href="{{ 'blog'|page }}/tag/{{ tag }}">{{ tag }}</a>{% if not loop.last %},{% endif %}
            {% endfor %}
        </p>
        {% endif %}

        {% if post.introductory %}
        <div class="post-introductory">{{ post.introductory|raw }}</div>
        {% elseif post.content %}
        <div class="post-content">{{ post.content|raw }}</div>
        {% endif %}
    </div>
    {% else %}
    <span class="post-nodata">{{ noPostsMessage }}</span>
    {% endfor %}
</div>

<div class="col-md-12">
    <div class="wrap-post">
        <div class="wrap-post row">
            {% for post in posts %}
            <div class="col-md-4">
                <article class="blog-post style2">
                    <div class="featured-post">
                        {% if post.image %}
                        <a href="{{ url('/') }}/news/{{ post.slug }}" title="{{ post.title }}">
                            <img src="{{ url('/') }}{{ post.image|media }}" alt="{{ post.title }}">
                        </a>
                        {% endif %}
                    </div>
                    <div class="entry-post-title mb-0 mt-3 pb-0">
                        <div class="post-title">                                            
                            <h6>
                                <a href="{{ url('/') }}/news/{{ post.slug }}" title="">{{ post.title }}</a>
                            </h6>
                        </div>
                        <div class="post-date">
                            {{ post.published_at|date('Y-m-d') }}
                        </div>
                    </div>
                    <div class="content-post mt-2">
                        <div class="col-12">
                            {% if post.introductory %}
                                {{ post.introductory|raw }}
                            {% endif %}
                        </div>
                        <div class="col-12 entry-content">
                            <div class="more-link">
                                <a href="{{ url('/') }}/news/{{ post.slug }}" title="">{{'CONTINUE READING' | _ }}</a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="blog-pagination">
        <ul class="flat-pagination">
            <li class="newer">
                NEWER POSTS
            </li>
            <li class="older">
                OLDER POSTS
            </li>
        </ul>
    </div>
</div>

{{ posts.render|raw }}
