<p>Международная школа «Спектрум» ставит развитие лидерства одной из своих приоритетных задач в обучении. Мы считаем, что каждый имеет возможность реализовать лидерский потенциал, будь то занятие формальных должностей или другие его аспекты. Лидерство означает не столько ответственность, ограничивающуюся формальной отнесенностью к определённой позиции, сколько общую причастность учеников и персонала к этой ответственности. Коренной сдвиг в мировоззрении наших лидеров будущего заключается в осознании того, что «любое действие направлено на улучшение мира, в котором мы живём».&nbsp;</p>

<p>&nbsp;</p>

<p>Наша цель состоит в том, чтобы научить учащихся понимать, что входит в понятия нравственного и эффективного лидерства, а также оценивать и развивать собственные &nbsp;навыки и умения для того, чтобы помочь им стать более уверенными и способными, при необходимости, осуществлять руководство. Участвуя в Программе Ученического Совета школы и в общественных проектах, учащиеся узнают как об умениях, необходимых для осуществления эффективного руководства, так и о нравственной стороне лидерства в рамках общественной деятельности. Ученики поддерживаются в стремлении занимать лидерские позиции всех уровней как внутри школы, так и вне её. &nbsp; &nbsp; &nbsp;</p>

<p>&nbsp;</p>

<p>Ученический Совет является репрезентативным органом, созданным исключительно для учащихся, которые таким образом приобретают возможность участвовать в делах школы, работая в сотрудничестве с руководством школы, персоналом и родителями в интересах школы и её учеников.&nbsp;</p>