<p>«Spectrum» халықаралық мектебінде көшбасшылық – оқытудың маңызды аспектісі болып табылады. Біз әр адамның, ресми лауазымына қарамастан, көшбасшылықты жүзеге асыруға әлеуеті бар деп сенеміз. Көшбасшылық – &nbsp;лауазыммен ғана шектеліп қоймайды, ол барлық оқушылар мен қызметкерлерге ортақ. «Біздің әрбір жасаған іс-әрекетіміз әлемді жақсартуға бағытталуы керек» – деген мақсат болашақ көшбасшыларымыз үшін парадигмалық ауысым болып табылады.</p>

<p>&nbsp;</p>

<p>Біздің мақсатымыз оқушыларға этикалық және тиімді көшбасшылыққа не жататынын түсіндіріп, қажет жағдайда көшбасшылықты танытуға олардың қабілетті және өз-өзіне сенімді болуына қол жеткізу үшін өлардың қабілеттіліктерін бағалау және дамыту болып табылады. Мектеп оқушылары кеңесінің бағдарламасы мен қоғамдық қызмет көрсету жобаларына қатысу арқылы оқушылар тиімді көшбасшылыққа кіретін дағдылары мен қоғамдық қызмет контекстіндегі көшбасшылық этикасы туралы біледі. Оқушылар мектептің және бұдан да ауқымды қоғамдастықтың барлық деңгейлерінде көшбасшылықты танытуға шақырылады.</p>

<p>&nbsp;</p>

<p>Оқушылар кеңесі оқушылардың мүддесіне ғана өкілдік ететін құрылым. Бұл кеңес арқылы олар мектеп пен ондағы оқушылардың ортақ игілігі үшін мектеп әкімшілігі, қызметкерлері және ата-аналармен серіктестікте болып, мектеп жұмысына араласа алады.</p>