<p>At Spectrum International School, leadership is an important area for student learning. We believe that everyone has the potential to exercise leadership, whether or not in formal positions. Leadership is not a responsibility confined to the ‘badge wearers’ and is shared by all students and staff. &nbsp;“Any action we do that makes the world in which we live a better place” is the paradigm shift for our leaders of tomorrow. &nbsp;&nbsp;</p>

<p>&nbsp;</p>

<p>Our goal is to have students understand what is involved in ethical and effective leadership, and to assess and develop their own abilities so that they are more confident and able to provide leadership when required. Through participation in the whole of school Student Council Program and involvement in community service projects, students learn about the skills involved in effective leadership and the ethics of leadership in the context of community service. Students are encouraged to take on leadership positions at all levels within the school and wider community. &nbsp;</p>

<p>&nbsp;</p>

<p>A Student Council is a representative structure for students only, through which they can become involved in the affairs of the school, working in partnership with school management, staff and parents for the benefit of the school and its students.</p>

<p>&nbsp;</p>