==
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
	<head>
		<meta charset="utf-8">
	    <meta name="description" content="{{ this.page.meta_description }}">
	    <meta name="title" content="{{ this.page.meta_title }}">
	    <meta name="author" content="Mezhdunarodnaya shkola Nurorda">
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	    <title>{{ this.page.title }}</title>

		<link rel="stylesheet" type="text/css" href="{{ 'assets/stylesheets/bootstrap.min.css'|theme }}">
		<link rel="stylesheet" type="text/css" href="{{ 'assets/stylesheets/stylesheets/fancybox.css'|theme }}">
	    <link rel="stylesheet" type="text/css" href="{{ 'assets/revolution/css/layers.css'|theme }}">
	    <link rel="stylesheet" type="text/css" href="{{ 'assets/revolution/css/settings.css'|theme }}">
		<link rel="stylesheet" type="text/css" href="{{ 'assets/stylesheets/style.css'|theme }}">
		<link rel="stylesheet" type="text/css" href="{{ 'assets/stylesheets/responsive.css'|theme }}">
		<link rel="stylesheet" type="text/css" href="{{ 'assets/stylesheets/colors/color1.css'|theme }}" id="colors">
		<link rel="stylesheet" type="text/css" href="{{ 'assets/css/modal-video.min.css'|theme }}" id="colors">
	    <link href="{{ 'assets/icon.png'|theme }}" rel="shortcut icon">
	    {% styles %}

	</head>
	<body class="header_sticky ">
		<!--
		<div class="preloader">
			<div class="dizzy-gillespie"></div>
		</div>
		-->

		<div class="boxed">
			{% partial 'menu/top-header' %}
			{% partial 'menu/top-menu' %}
			{% page %}
			{% partial 'menu/footer' %}
		</div>

		<style type="text/css">
			.modal-video-close-btn{
				padding: 0px !important;
			}
		</style>

		<script type="text/javascript" src="{{ 'assets/javascript/jquery.min.js'|theme }}"></script>
		<script type="text/javascript" src="{{ 'assets/javascript/tether.min.js'|theme }}"></script>
		<script type="text/javascript" src="{{ 'assets/javascript/bootstrap.min.js'|theme }}"></script>
		<script type="text/javascript" src="{{ 'assets/javascript/jquery-validate.js'|theme }}"></script>
		<script type="text/javascript" src="{{ 'assets/javascript/waypoints.min.js'|theme }}"></script>
		<script type="text/javascript" src="{{ 'assets/javascript/easing.js'|theme }}"></script>
		<script type="text/javascript" src="{{ 'assets/javascript/jquery.fancybox.js'|theme }}"></script>
	   	<script type="text/javascript" src="{{ 'assets/javascript/kinetic.js'|theme }}"></script>
		<script type="text/javascript" src="{{ 'assets/javascript/jquery.flexslider-min.js'|theme }}"></script>
		<script type="text/javascript" src="{{ 'assets/javascript/owl.carousel.js'|theme }}"></script>
		 
		<script type="text/javascript" src="{{ 'assets/javascript/parallax.js'|theme }}"></script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtRmXKclfDp20TvfQnpgXSDPjut14x5wk&region=GB"></script>
	   	<script type="text/javascript" src="{{ 'assets/javascript/gmap3.min.js'|theme }}"></script>
	   	<script type="text/javascript" src="{{ 'assets/javascript/jquery.final-countdown.js'|theme }}"></script>
		<script type="text/javascript" src="{{ 'assets/javascript/jquery.cookie.js'|theme }}"></script>

		<script type="text/javascript" src="{{ 'assets/javascript/main.js'|theme }}"></script>

	    <script type="text/javascript" src="{{ 'assets/revolution/js/jquery.themepunch.tools.min.js'|theme }}"></script>
	    <script type="text/javascript" src="{{ 'assets/revolution/js/jquery.themepunch.revolution.min.js'|theme }}"></script>
	    <script type="text/javascript" src="{{ 'assets/revolution/js/slider.js'|theme }}"></script>

	    <script type="text/javascript" src="{{ 'assets/revolution/js/extensions/revolution.extension.actions.min.js'|theme }}"></script>
	    <script type="text/javascript" src="{{ 'assets/revolution/js/extensions/revolution.extension.carousel.min.js'|theme }}"></script>
	    <script type="text/javascript" src="{{ 'assets/revolution/js/extensions/revolution.extension.kenburn.min.js'|theme }}"></script>
	    <script type="text/javascript" src="{{ 'assets/revolution/js/extensions/revolution.extension.layeranimation.min.js'|theme }}"></script>
	    <script type="text/javascript" src="{{ 'assets/revolution/js/extensions/revolution.extension.migration.min.js'|theme }}"></script>
	    <script type="text/javascript" src="{{ 'assets/revolution/js/extensions/revolution.extension.navigation.min.js'|theme }}"></script>
	    <script type="text/javascript" src="{{ 'assets/revolution/js/extensions/revolution.extension.parallax.min.js'|theme }}"></script>
	    <script type="text/javascript" src="{{ 'assets/revolution/js/extensions/revolution.extension.slideanims.min.js'|theme }}"></script>
	    <script type="text/javascript" src="{{ 'assets/revolution/js/extensions/revolution.extension.video.min.js'|theme }}"></script>

	    <script type="text/javascript" src="{{ 'assets/js/jquery-modal-video.min.js'|theme }}"></script>
	    <script type="text/javascript">
	    	$(document).ready(function() {
	            //option A
	            $("#quickcall").on('submit', function(e){
	                e.preventDefault();

	                var values = $(this).serialize();

					$.ajax({
				        url: "{{ url('/')}}/quick-call-action",
				        type: "post",
				        data: values,
				        success: function (response) {
				        	alert(response)
				           // You will get response from your PHP page (what you echo or print)
				        },
				        error: function(jqXHR, textStatus, errorThrown) {
				        	alert('An error was handle while sending your message.')
				           console.log(textStatus, errorThrown);
				        }
					});
	            });

	            $(".js-video-button").modalVideo({
					youtube:{
						controls:0,
						nocookie: true
					}
				});
	        });
	    </script>
	</body>	
</html>