[viewBag]
==
		<section class="flat-call-back bg-image">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="flat-title">
							<h3 class="font-weight-3">{{ 'Supporter' | _ }}</h3>
						</div>
						<div class="row">
							<div class="col-md-4 col-sm-12 text-center">
								<div class="avatar mt-2 mb-2">
									<div class="image">
										<img src="{{ url('/') }}{{'all/sup.png' | media }}" class="rounded-circle" style="max-width: 100px;" >
									</div>
								</div>
								<p class="sub-title">{{'Supporter description' |_ }}</p>
							</div>
							<div class="col-md-8 col-sm-12">
								<div style="padding: 0px 50px;">
									<form id="quickcall" method="post">
										<div class="row">								
											<div class="col-md-12 mb-2">
												<input type="text" id="subscribe-email" name="name" placeholder="{{'Full name' | _ }}" style="border-radius: 0px; border-width: 1px;" required="">
											</div>
											<div class="col-md-12 mb-3">
												<input type="text" id="subscribe-phone" name="phone" placeholder="{{'Phone Number'| _ }}" style="border-radius: 0px; border-width: 1px;" required="">
											</div>
											<div class="col-md-12">
												<button type="submit" style="width: 100%" id="subscribe-button" class="button-subscribe base">{{ 'Request a quick call' | _ }}</button>
											</div>
										</div>
										<div id="subscribe-msg"></div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>