[viewBag]
==
<section class="flat-partner background">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="owl-carousel">
					<li>
						<img src="https://spectrum.edu.kz/uploads/logo/DhDt5Ybhn5rQmI06qiaFS4qNGsrVAqzX9uQd9vdb.png" alt="">
					</li>
					<li>
						<img src="https://spectrum.edu.kz/uploads/logo/DGQRjMpjU2UUq38GIRrc5MHRrvnX2BgR5LUgVxJM.png" alt="">
					</li>
					<li>
						<img src="https://spectrum.edu.kz/uploads/logo/bDkEE6blB16ppLwnrJ5f95Ix1p4JjCwtsvFZa05G.png" alt="">
					</li>
					<li>
						<img src="https://spectrum.edu.kz/uploads/logo/vgLKCHsei3FS6myJ9Ab86nrTQAavye3LK7xfByof.png" alt="">
					</li>
					<li>
						<img src="https://spectrum.edu.kz/uploads/logo/rQ3nKYMWATxu5hJ5sEw8wxRjiVIJcrPnuKUVSYdw.png" alt="">
					</li>
					<li>
						<img src="https://spectrum.edu.kz/uploads/logo/05yfFNxu3qNWynpoiqqE759hqv1Cg1ZbjSHFsO4X.png" alt="">
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>