<p>Cambridge Assessment Admissions Testing is part of the University of Cambridge. We produce admissions tests for higher education institutions and government ministries worldwide. Our assessments support selection and help to enable fair access to higher education and the workplace, measuring applicants potential for success.&nbsp;</p>

<p>The Spectrum Exam Centre is an open centre for Cambridge Assessment Admissions Testing.&nbsp;</p>

<p>The following exams are available:&nbsp;</p>

<ul>
	<li>BioMedical Admissions Test (BMAT)&nbsp;</li>
	<li>Classics Admissions Test (CAT)&nbsp;</li>
	<li>English Literature Admissions Test (ELAT)&nbsp;</li>
	<li>History Aptitude Test (HAT)&nbsp;</li>
	<li>Mathematics Aptitude Test (MAT)&nbsp;</li>
	<li>Modern Languages Admissions Test (MLAT)&nbsp;</li>
	<li>Oriental Languages Aptitude Test (OLAT)&nbsp;</li>
	<li>Physics Aptitude Test (PAT)&nbsp;</li>
	<li>University of Oxford Philosophy Test Test of Mathematics for University Admissions (TMUA)&nbsp;</li>
	<li>Thinking Skills Assessment (TSA) </li>
</ul>