<p>Cambridge Assessment English delivers qualifications and tests in over 130 countries to over 5.5 million people every year. They offer comprehensive preparation, support materials and resources for learning and teaching English which are based on years of research and in-depth understanding of how people learn languages. Their work is supported around the world by a network of 2,800 exam centres, over 50,000 schools and tens of thousands of examiners, teachers, education experts and publishers. Cambridge Assessment English is a division of Cambridge Assessment.</p>

<p>Cambridge Assessment English Fees (in KZT)&nbsp;</p>

<p>Pre A1 Starters 22000 KZT</p>

<p>A1 Movers 25000 KZT</p>

<p>A2 Flyers 27000 KZT</p>

<p>A2 Key A2 Key for Schools 31000 KZT</p>

<p>B1 Preliminary 32000 KZT</p>

<p>B2 First B2 First for Schools B1 Preliminary for Schools 70000 KZT</p>

<p>C1 Advanced 70000TKT (per module) 23000 KZT</p>

<p>CEPT Cambridge English Placement Test 7000 KZT (5000 KZT for 20+ candidates)</p>