<p><span lang="kk"><span data-language-for-alternatives="kk" data-language-to-translate-into="en" data-phrase-index="0">Халықаралық Spectrum мектебінде оқумен қатар, сіз шетелдік университеттерге түсу үшін халықаралық емтихандардан өте аласыз.</span> <span data-language-for-alternatives="kk" data-language-to-translate-into="en" data-phrase-index="1">Бұл мүмкіндік тек Spectrum студенттері үшін ғана емес, сонымен қатар ақылы негізде сыртқы студенттер үшін де ашылады.</span> <span data-language-for-alternatives="kk" data-language-to-translate-into="en" data-phrase-index="2">Сіз өзіңіздің мәліметіңізді қалдыра аласыз немесе толық кеңес алу үшін бізбен байланыса аласыз</span><span data-language-for-alternatives="kk" data-language-to-translate-into="en" data-phrase-index="3">&nbsp;</span></span></p>

<p>
	<br>
</p>

<p><span lang="kk"><span data-language-for-alternatives="kk" data-language-to-translate-into="en" data-phrase-index="4">Қандай да бір ақпарат алу үшін емтихан тапсыру жөніндегі маманға хабарласыңыз: examsofficer@spectrum.edu.kz</span></span> </p>