<p>In addition to studying at the Spectrum International School, you can pass international exams for admission to foreign universities. This opportunity opens up not only for Spectrum students but also for external students on a paid basis. You can leave your details or contact us for a full consultation</p>

<p>&nbsp;</p>

<p>Please contact the Examinations Officer for any information at <a href="mailto:examsofficer@spectrum.edu.kz">examsofficer@spectrum.edu.kz</a></p>