{% set testimonials = __SELF__.testimonials %}	
{% set viewAll = __SELF__.viewAll %}
	<section class="flat-testimonial style5 background">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="testimonial owl-carousel-4 style2">
						{% for testimonial in testimonials %}
						<div class="testimonial-item style3 v1">
							<blockquote>
								<div class="testimonial-title">
									{{ testimonial.title }} 
								</div>
								{{ testimonial.content|raw }}
								<div class="info-author">
									<div class="name">
										{{ testimonial.name }}
									</div>
								</div>
							</blockquote>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>