{% set post = __SELF__.post %}

<section id="main-blog" class="single">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrap-post">
                    <article class="blog-post single style1">
                        <div class="entry-post-title">
                            <div class="post-title">                                            
                                <h2>
                                    {{ post.title }}
                                </h2>
                            </div>
                            <div class="post-date">
                               {{ post.published_at|date('Y-m-d') }}
                            </div>
                        </div>
                        <div class="featured-post">
                            {% if post.image %}
                            <img src="{{ url('/') }}{{ post.image|media }}" alt="{{ post.title }}"></div>
                            {% endif %}
                        </div>
                        <div class="content-post">
                            {% if post.introductory %}<div class="post-introductory">{{ post.introductory|raw }}</div>{% endif %}
                            {% if post.content %}<div class="post-content">{{ post.content|raw }}</div>{% endif %}
                        </div>
                    </article>
                    <div class="post-nav">
                        {% if post.prev().title %}Prev: <a href="{{ 'blog'|page }}/{{ post.prev().slug }}" class="prev">{{ post.prev().title }}</a>{% endif %}
                        <br>
                        {% if post.next().title %}Next: <a href="{{ 'blog'|page }}/{{ post.next().slug }}" class="next">{{ post.next().title }}</a>{% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
