[viewBag]
==
			<section class="flat-clients">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<ul class="owl-carousel">
								<li>
									<img src="https://spectrum.edu.kz/uploads/logo/DhDt5Ybhn5rQmI06qiaFS4qNGsrVAqzX9uQd9vdb.png" alt="">
								</li>
								<li>
									<img src="https://spectrum.edu.kz/uploads/logo/DGQRjMpjU2UUq38GIRrc5MHRrvnX2BgR5LUgVxJM.png" alt="">
								</li>
								<li>
									<img src="https://spectrum.edu.kz/uploads/logo/bDkEE6blB16ppLwnrJ5f95Ix1p4JjCwtsvFZa05G.png" alt="">
								</li>
								<li>
									<img src="https://spectrum.edu.kz/uploads/logo/vgLKCHsei3FS6myJ9Ab86nrTQAavye3LK7xfByof.png" alt="">
								</li>
								<li>
									<img src="https://spectrum.edu.kz/uploads/logo/rQ3nKYMWATxu5hJ5sEw8wxRjiVIJcrPnuKUVSYdw.png" alt="">
								</li>
								<li>
									<img src="https://spectrum.edu.kz/uploads/logo/05yfFNxu3qNWynpoiqqE759hqv1Cg1ZbjSHFsO4X.png" alt="">
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<footer class="style8">
				<div class="container">
					<div class="row">
						<div class="col-lg-3">
							<div class="widget-about style1">
								<div class="logo-ft">
									<a href="{{ url('/') }}" title="">
										<img src="{{ url('/') }}{{'logo.png' | media }}" style="max-width: 50%;">
									</a>
								</div>
								<ul class="flat-infomation">
									<li class="phone">
										{{ 'official_address' |_ }}
									</li>
									<li class="phone">
										<a href="tel:{{ 'official_phone_number' |_ }}" title="">
											<i class="fa fa-phone" aria-hidden="true"></i>
											{{ 'official_phone_number' |_ }}
										</a>
									</li>
									<li class="email">
										<a href="mail:{{ 'official_email' |_ }}" title="">
											<i class="fa fa-envelope" aria-hidden="true"></i>{{ 'official_email' |_ }}
										</a>
									</li>
								</ul>
								<ul class="social-ft style1">
									<li>
										<a href="{{ 'official_facebook_link' |_ }}" title="Facebook">
											<i class="fa fa-facebook" aria-hidden="true"></i>
											<i class="fa fa-facebook" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="{{ 'official_instagram_link' |_ }}" title="Instagram">
											<i class="fa fa-instagram" aria-hidden="true"></i>
											<i class="fa fa-instagram" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="{{ 'official_whatsapp_link' |_ }}" title="Whatsapp">
											<i class="fa fa-whatsapp" aria-hidden="true"></i>
											<i class="fa fa-whatsapp" aria-hidden="true"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="widget-menu-ft style1">
								<div class="widget-title">
									{{ 'SIS' | _ }}
								</div>
								<ul>
									<li>
										<a href="{{ url('/') }}/pages/about-us" title="">
											{{ 'About Us' | _ }}
										</a>
									</li>
									<li>
										<a href="{{ url('/') }}/pages/accreditation" title="">
											{{ 'Accreditation' | _ }}
										</a>
									</li>
									<li>
										<a href="{{ url('/') }}/pages/spectrum-employees" title="">
											{{ 'Spectrum employees' | _ }}
										</a>
									</li>
									<li>
										<a href="{{ url('/') }}/pages/graduates" title="">
											{{ 'Graduates' | _ }}
										</a>
									</li>
									<li>
										<a href="{{ url('/') }}/pages/campuses" title="">
											{{ 'Campuses' | _ }}
										</a>
									</li>
									<li>
										<a href="{{ url('/') }}/pages/branding" title="">
											{{ 'Branding' | _ }}
										</a>
									</li>
									<li>
										<a href="{{ url('/') }}/pages/education-policy" title="">
											{{ 'Education policy' | _ }}
										</a>
									</li>
									<li>
										<a href="{{ url('/') }}/contact-us" title="">
											{{ 'Key contacts' | _ }}
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="widget-menu-ft style1">
								<div class="widget-title">
									{{ 'SIS world' | _ }}
								</div>
								<ul>
									<li>
										<a href="{{ url('/') }}/pages/student-council" title="">
											{{ 'Student Council' | _ }}
										</a>
									</li>
									<li>
										<a href="{{ url('/') }}/pages/student-clubs" title="">
											{{ 'Student clubs' | _ }}
										</a>
									</li>
									<li>
										<a href="{{ url('/') }}/pages/newspaper" title="">
											{{ 'Newspaper' | _ }}
										</a>
									</li>
									<li>
										<a href="{{ url('/') }}/news" title="">
											{{ 'News' | _ }}
										</a>
									</li>
								</ul>

								<div class="widget-title mt-4">
									{{ 'Admission' | _ }}
								</div>
								<ul>
									<li>
										<a href="{{ url('/') }}/pages/admission-process" title="">
											{{ 'Admission process' | _ }}
										</a>
									</li>
									<li>
										<a href="{{ url('/') }}/pages/prices" title="">
											{{ 'Prices' | _ }}
										</a>
									</li>
									<li>
										<a href="{{ url('/') }}/pages/apply" title="">
											{{ 'Apply' | _ }}
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="widget-menu-ft style1">
								<div class="widget-title">
									{{ 'Services' | _ }}
								</div>
								<ul>
									<li>
										<a href="{{ url('/') }}/pages/our-uniqueness" title="">
											{{ 'Our uniqueness' | _ }}
										</a>
									</li>
									<li>
										<a href="{{ url('/') }}/pages/primary-school" title="">
											{{ 'Primary School' | _ }}
										</a>
									</li>
									<li>
										<a href="{{ url('/') }}/pages/lower-secondary" title="">
											{{ 'Lower Secondary' | _ }}
										</a>
									</li>
									<li>
										<a href="{{ url('/') }}/pages/igcse" title="">
											{{ 'IGCSE' | _ }}
										</a>
									</li>
									<li>
										<a href="{{ url('/') }}/pages/examination-center" title="">
											{{ 'Examination Center' | _ }}
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</footer>

			<section class="footer-bottom style3">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<ul class="menu-ft float-right">
								<li><a href="{{ url('/') }}/privacy" title="">{{ 'Privacy' | _ }}</a></li>
								<li><a href="{{ url('/') }}/terms" title="">{{ 'Terms' | _ }}</a></li>
								<li><a href="{{ url('/') }}/help" title="">{{ 'Help' | _ }}</a></li>
							</ul>
							<p class="copyright">2021 {{ 'Company name' | _ }}. All Rights Reserved</p>
						</div>
					</div>
				</div>
			</section>

			<div class="button-go-top">
				<a href="#" title="" class="go-top">
					<i class="fa fa-chevron-up"></i>
				</a>
			</div>