[viewBag]

[localePicker]
forceUrl = 0
==
			<section class="header-top style2 bg-default">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<ul class="flat-infomation float-left">
								<li class="phone">
									<a href="tel:{{ 'official_phone_number' |_ }}" title="">
										<i class="fa fa-phone text-white" aria-hidden="true"></i> 
										{{ 'official_phone_number' |_ }}
									</a>
								</li>
								<li class="email">
									<a href="mail:{{ 'official_email' |_ }}" title="">
										<i class="fa fa-envelope text-white" aria-hidden="true"></i> 
										{{ 'official_email' |_ }}
									</a>
								</li>
							</ul>
							<ul class="flat-social float-right">
								<li>
									<a href="{{ 'official_facebook_link' |_ }}" title="Facebook">
										<i class="fa fa-facebook" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="{{ 'official_instagram_link' |_ }}" title="Instagram">
										<i class="fa fa-instagram" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="{{ 'official_whatsapp_link' |_ }}" title="Whatsapp">
										<i class="fa fa-whatsapp" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="{{ 'official_telegram_link' |_ }}" title="Telegram">
										<i class="fa fa-telegram" aria-hidden="true"></i>
									</a>
								</li>
							</ul>
							{% component 'localePicker' %}
						</div>
					</div>
				</div>
			</section>