[viewBag]

[staticMenu]
code = "webmenu"
==
		<section id="header" class="header">
			<div class="container-fluid">
				<div id="logo" class="logo float-left">
					<a href="{{ url('/') }}" title="Yolo">
						<img src="{{ url('/') }}{{'logo.png' | media }}">
					</a>
				</div>
				<div class="menu-extra">
					<div class="box-canvas">
						<span class="ti-align-right"></span>
					</div>
				</div>

				<ul class="flat-infomation">
					<li class="purchase">
						<a href="{{ 'applylink' | _ }}" title="">{{ 'Apply now' | _ }}</a>
					</li>
				</ul>

				<div class="nav-wrap">
					<div class="btn-menu">
				        <span></span>
				    </div>
					<div id="mainnav" class="mainnav">
					    {% component 'staticMenu' %}
					</div>
				</div>
				<div class="clearfix"></div>
			</div>

			<div class="menu-canvas">
				<div class="close">
					<i class="fa fa-times" aria-hidden="true"></i>
				</div>
				<div class="widget-about">
					<h5>{{ 'Company name' | _ }}</h5>
					<p></p>
				</div>
				<div class="widget-contact">
					<h5>{{ 'word_contact_us' |_ }}</h5>
					<ul>
						<li>{{ 'official_address' |_ }}</li>
						<li>{{ 'official_phone_number' |_ }}</li>
						<li><a href="mail:{{ 'official_email' |_ }}" title="">{{ 'official_email' |_ }}</a></li>
					</ul>
				</div>
				<div class="share-link">
					<ul class="social-ft">
						<li>
							<a href="{{ 'official_facebook_link' |_ }}" title="Facebook">
								<i class="fa fa-facebook" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="{{ 'official_instagram_link' |_ }}" title="Instagram">
								<i class="fa fa-instagram" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="{{ 'official_whatsapp_link' |_ }}" title="Whatsapp">
								<i class="fa fa-whatsapp" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="{{ 'official_telegram_link' |_ }}" title="Telegram">
								<i class="fa fa-telegram" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
					<p class="copyright">Copyright ©2021 {{ 'Company name' | _ }}. All Rights Reserved</p>
				</div>
			</div>
		</section>