<ul>
	<li>Application Letter (provided in the school)</li>
	<li>Photos (2 pieces and 3×4 cm size)</li>
	<li>Student Information Form – A (provided in the school)</li>
	<li>Health Booklet No:026/y (for RoK citizens) or Health Certificate No:086/y (for foreign nationals)</li>
	<li>Health Booklet No:026/y (for RoK citizens) or Health Certificate No:086/y (for foreign nationals)</li>
	<li>X-Ray film with its report: for 6 year olds and over (for foreign nationals and non-residents of Nur-Sultan)</li>
	<li>Residence certificate</li>
	<li>Original copy of child’s statutory birth-certificate/passport/identity certificate with Individual Identification Number and/or Valid visa (for foreign nationals)</li>
	<li>Withdrawal Certificate from the previous school (not applicable for admission into Grade 1)</li>
	<li>Report Card(s) that were given by the previous school(s) (not applicable for admission into Grade 1)</li>
	<li>Parent-School Contract</li>
	<li>A Level Option Form (applicable for enrollment into Grade 11 and 12 only)</li>
</ul>