<p><span lang="kk"><span data-language-for-alternatives="kk" data-language-to-translate-into="en" data-phrase-index="0">Аккредиттеу - бұл тәуелсіз органның мектепті тексеретін сертификаттау түрі.</span></span> </p>