<p><span lang="ru"><span data-language-for-alternatives="ru" data-language-to-translate-into="en" data-phrase-index="0">Аккредитация - это форма сертификации, при которой независимый орган проверяет, что школа.</span></span> </p>