<h3>КАМПУС</h3>
<div class="text-content">
	<p>Located in a new residential area, the Spectrum building is reliable and safe. Spectrum International School offers the ideal setting for effective learning. We are conveniently located in a quiet and hospitable area, 5 minutes from the Khazret Sultan Mosque. Our school will be the stage for many of your child's most exciting days, from discoveries in science labs to great sports victories and thrilling stage performances.</p>
	<div class="read-more">
		<a href="#" title="">Подробнее</a>
	</div>
</div>