[viewBag]

[contenteditor]
file = "main/about.htm"
==
<section class="flat-our-mission">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="history-video style1">
					<div class="flat-video-fancybox">
                        <a class="fancybox" data-type="iframe" href="https://www.youtube.com/embed/2Ge1GGitzLw?autoplay=1"> 
                            <img class="mt-6" src="https://spectrum.edu.kz/uploads/exam/eMQ7Zjfi9cH9quprCo1Mz6i9LUkgokOfG5jFoNNq.jpeg" alt="images">
                        </a>
                    </div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="box-mission">
				    {% component 'contenteditor' file="main/about.htm" %}
				</div>
			</div>
		</div>
	</div>
</section>