[viewBag]
==
<section class="flat-call-action parallax parallax9">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="box-call-action">
					<div class="box-header">
						<h3 class="color-white">CAMBRIDGE ASSESSMENT INTERNATIONAL EDUCATION!</h3>
						<p class="color-white">In addition to studying at the Spectrum International School, you can pass international exams for admission to foreign universities. This opportunity opens up not only for Spectrum students, but also for external students on a paid basis. You can leave your details or contact us for a full consultation</p>
					</div>
					<div class="btn-more">
						<a href="#" title="">CONTACT US</a>
					</div>
				</div><!-- /.box-call-action -->
			</div><!-- /.col-md-6 -->
			<div class="col-md-6">
				<div class="image-action">
					<img src="https://spectrum.edu.kz/uploads/campus/UNl62uSeyBGzjV6nQ7XEY4tlreIbfiVXJHlfxYP3.jpeg" alt="">
				</div>
			</div><!-- /.col-md-6 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
	<div class="overlay-black">
	</div>
</section>