==
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
	<head>
		<meta charset="utf-8">
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="Mezhdunarodnaya shkola Nurorda">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <title>{{ this.page.title }}</title>
        
		<link rel="stylesheet" type="text/css" href="{{ 'assets/stylesheets/bootstrap.min.css'|theme }}">
		<link rel="stylesheet" type="text/css" href="{{ 'assets/stylesheets/fancybox.css'|theme }}">
		<link rel="stylesheet" type="text/css" href="{{ 'assets/stylesheets/style.css'|theme }}">
		<link rel="stylesheet" type="text/css" href="{{ 'assets/stylesheets/responsive.css'|theme }}">
		<link rel="stylesheet" type="text/css" href="{{ 'assets/stylesheets/colors/color2.css'|theme }}" id="colors10">
	    <link href="{{ 'assets/icon.png'|theme }}" rel="shortcut icon">
	    {% styles %}
	</head>
	<body class="header_sticky ">

		<div class="preloader">
			<div class="dizzy-gillespie"></div>
		</div> <!--/.preloader -->

		<div class="boxed">

			{% partial 'menu/top-header' %}
			{% partial 'menu/top-menu' %}
			{% page %}
			{% partial 'menu/footer02' %}
		</div>

		<script type="text/javascript" src="{{ 'assets/javascript/jquery.min.js'|theme }}"></script>
		<script type="text/javascript" src="{{ 'assets/javascript/tether.min.js'|theme }}"></script>
		<script type="text/javascript" src="{{ 'assets/javascript/bootstrap.min.js'|theme }}"></script>
		<script type="text/javascript" src="{{ 'assets/javascript/jquery-validate.js'|theme }}"></script>
		<script type="text/javascript" src="{{ 'assets/javascript/waypoints.min.js'|theme }}"></script>
		<script type="text/javascript" src="{{ 'assets/javascript/easing.js'|theme }}"></script>
		<script type="text/javascript" src="{{ 'assets/javascript/jquery.fancybox.js'|theme }}"></script>
	   	<script type="text/javascript" src="{{ 'assets/javascript/kinetic.js'|theme }}"></script>
		<script type="text/javascript" src="{{ 'assets/javascript/jquery.flexslider-min.js'|theme }}"></script>
		<script type="text/javascript" src="{{ 'assets/javascript/owl.carousel.js'|theme }}"></script>
		 
		<script type="text/javascript" src="{{ 'assets/javascript/parallax.js'|theme }}"></script>
	   	<script type="text/javascript" src="{{ 'assets/javascript/jquery.final-countdown.js'|theme }}"></script>
		<script type="text/javascript" src="{{ 'assets/javascript/jquery.cookie.js'|theme }}"></script>

		<script type="text/javascript" src="{{ 'assets/javascript/main.js'|theme }}"></script>

	    {% framework extras %}
        {% scripts %}
	</body>	
</html>