title = "Accreditation"
url = "/accreditation"
layout = "base/default"
is_hidden = 0

[newsSmallPosts]
pageNumber = "{{ :page }}"
postsPerPage = 3
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
postFeatured = 0
postPage = 404
categoryPage = 404
==

		<section class="flat-iconbox" style="padding-top: 60px;">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="top-title center style1 v2">
							<div class="top-post">
								{{ 'Accreditation' |_ }}
							</div>
							<p class="sub-title">
								{% content 'accreditation/main' %}
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="flat-row">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="flat-title left">
							<h3 class="font-weight-3">
								{{ 'Accreditation' |_ }}
							</h3>
						</div>
						<div class="accordion">
							<div class="accordion-toggle">
								<div class="toggle-title active">
									{{ 'BILIM ORDA International Social Foundation' | _ }}
								</div>
								<div class="toggle-content">
									<p>
										{% content 'accreditation/bilimorda' %}
									</p>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="accordion-toggle">
								<div class="toggle-title active">
									{{ 'Cambridge International Examinations (CIE)' | _ }}
								</div>
								<div class="toggle-content">
									<p>
										{% content 'accreditation/cie' %}
									</p>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="accordion-toggle">
								<div class="toggle-title active">
									{{ 'Council of International Schools (CIS)' | _ }}
								</div>
								<div class="toggle-content">
									<p>
										{% content 'accreditation/cis' %}
									</p>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="accordion-toggle">
								<div class="toggle-title active">
									{{ 'New England Association of Schools and Colleges (NEASC)' | _ }}
								</div>
								<div class="toggle-content">
									<p>
										{% content 'accreditation/neasc' %}
									</p>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="accordion-toggle">
								<div class="toggle-title active">
									{{ 'The Educational Collaborative for International Schools (ECIS)' | _ }}
								</div>
								<div class="toggle-content">
									<p>
										{% content 'accreditation/ecis' %}
									</p>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="accordion-toggle">
								<div class="toggle-title active">
									{{ 'Cambridge English Language Assessment' | _ }}
								</div>
								<div class="toggle-content">
									<p>
										{% content 'accreditation/cela' %}
									</p>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="accordion-toggle">
								<div class="toggle-title active">
									{{ 'SAT Test Center' | _ }}
								</div>
								<div class="toggle-content">
									<p>
										{% content 'accreditation/sat' %}
									</p>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="accordion-toggle">
								<div class="toggle-title active">
									{{ 'Recognition by the Government of the Republic of Kazakhstan' | _ }}
								</div>
								<div class="toggle-content">
									<p>
										{% content 'accreditation/kazgov' %}
									</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="history-video">
							<div class="flat-video-fancybox">
	                            <img src="{{ url('/') }}{{ 'all/bg4.jpg' | media }}" class="border-radius-5" alt="images">
	                        </div>
						</div>
					</div>
				</div>
			</div>
		</section>

		{% component 'newsSmallPosts' %}
		{% partial 'general/carusel02' %}