title = "Главная"
url = "/"
layout = "base/web"
is_hidden = 0

[newsSmallPosts]
pageNumber = "{{ :page }}"
postsPerPage = 3
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
postFeatured = 0
postPage = 404
categoryPage = 404
==

<section class="tp-banner">
			<div id="rev_slider_1078_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic4export" data-source="gallery" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
           		<!-- START REVOLUTION SLIDER 5.3.0.2 auto mode -->
	            <div id="rev_slider_1078_6" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.3.0.2">
	                <div class="slotholder"></div>
	                <ul><!-- SLIDE  -->
	            
	                    <!-- SLIDE 1 -->
	                    <li data-index="rs-3049" data-transition="slideremovedown" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="2000"    data-rotate="0"  data-saveperformance="off"  data-title="Ken Burns" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">                        

	                        <!-- MAIN IMAGE -->
	                        <img src="{{ url('/')}}{{ 'slider/bg.jpg' | media }}"  alt=""  data-bgposition="center center" data-kenburns="off" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
	                        <!-- LAYERS -->

	                        <!-- LAYER NR. 12 -->
	                        <div class="tp-caption title-slide color-white" 
	                            id="slide-3049-layer-1" 
	                            data-x="['left','left','left','left']" data-hoffset="['90','30','10','0']" 
	                            data-y="['middle','middle','middle','middle']" data-voffset="['-90','-120','-120','-90']" 
	                            data-fontsize="['48','42','40','26']"
	                            data-lineheight="['60','42','50','32']"
	                            data-fontweight="['600','600','400','300']"
	                            data-width="['600','600','600','300']"
	                            data-height="auto"
	                            data-type="text" 
	                            data-whitespace="normal"
	                            data-responsive_offset="on"                             
	                           	data-frames='[{"delay":0,"split":"chars","splitdelay":0.05,"speed":700,"frame":"0","from":"y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
	                            data-textAlign="['left','left','left','left']"
	                            data-paddingright="[0,0,0,0]"
	                            data-paddingbottom="[0,0,0,0"
	                            data-paddingleft="[0,0,0,0]"

	                            >{{'Spectrum International School' | _ }}
	                        </div>
	                        <div class="tp-caption title-slide color-white ff-2 " 
	                            data-x="['left','left','left','left']" data-hoffset="['90','30','10','0']" 
	                            data-y="['middle','middle','middle','middle']" data-voffset="['-15','-50','-50','-10']" 
	                            data-fontsize="['18','18','16','14']"
	                            data-lineheight="['34','30','24','24']"
	                            data-fontweight="['400','400','400','400']"
	                            data-width="['750','550','500','300']"
	                            data-height="auto"
	                            data-type="text" 
	                            data-whitespace="normal" 
	                            data-responsive_offset="on"                             
	                            data-frames='[{"delay":1000,"speed":1200,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
	                            data-textAlign="['left','left','left','left']"
	                            data-paddingright="[0,0,0,0]"
	                            data-paddingbottom="[0,0,0,0"
	                            data-paddingleft="[0,0,0,0]"

	                            style="z-index: 16; white-space: nowrap;font-weight: 300; padding-top: 100px;">
	                            {{ 'slider_description' | _ }}
	                        </div>
	                    </li>
	                </ul>
	            </div>
	    	</div>
		</section>
		<div class="divider80"></div>
		<section class="flat-our-mission">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="history-video style1">
							<div class="flat-video-fancybox">
	                            <a class="fancybox" data-type="iframe" href="{{ 'youtube_promo_1' | _ }}"> 
	                                <img src="{{ url('/') }}{{ 'campus/campus.jpg' | media }}" alt="images">
	                            </a>
	                        </div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="box-mission">
							<h3>{{'CAMPUS' | _ }}</h3>
							<div class="text-content">
								<p>{{ 'CAMPUS_DESCRIPTION' | _ }}</p>
								<div class="read-more">
									<a href="{{ url('/') }}/about-school" class="btn-primary" style="background-color: #163151; box-shadow: none;" title="">{{'Learn more' | _ }}</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="divider80"></div>
		
		<section class="flat-imagebox style2 background">
			<div class="container">
				<div class="row" style="display: none;">
					<div class="col-md-12">
						<div class="flat-title">
							<h3 class="font-weight-3">School</h3>
							<p class="sub-title">Our creative specialists work on an international level at branding, design and development. Both online and offline.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="imagebox style2">
							<div class="imagebox-image">
								<img src="{{ url('/') }}{{ 'sis/primary.jpg' | media }}" alt="">
							</div>
							<div class="imagebox-content">
								<h6>
									<a href="{{ url('/') }}/primary" title="">Primary School</a>
								</h6>
								<p>Cambridge Primary: 5-10 years</p>
								<div class="more-link">
									<a href="{{ url('/') }}/primary" title="">{{'Learn more' | _ }}</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="imagebox style2">
							<div class="imagebox-image">
								<img src="{{ url('/') }}{{ 'sis/secondary.jpg' | media }}" alt="">
							</div>
							<div class="imagebox-content">
								<h6><a href="{{ url('/') }}/secondary" title="">Lower Secondary</a></h6>
								<p>Cambridge Secondary: 11-15 years.</p>
								<div class="more-link">
									<a href="{{ url('/') }}/secondary" title="">{{'Learn more' | _ }}</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="imagebox style2">
							<div class="imagebox-image">
								<img src="{{ url('/') }}{{ 'sis/icg.jpg' | media }}" alt="">
							</div>
							<div class="imagebox-content">
								<h6><a href="{{ url('/') }}/high" title="">IGCSE</a></h6>
								<p>Cambridge IGCSE: 16-17 years.</p>
								<div class="more-link">
									<a href="{{ url('/') }}/high" title="">{{'Learn more' | _ }}</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="flat-about style2">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="flat-title padding">
							<h2>{{'CAMBRIDGE ASSESSMENT INTERNATIONAL EDUCATION'| _ }}</h2>
							<p class="sub-title">
								{{ 'CAMBRIDGE ASSESSMENT INTERNATIONAL EDUCATION DESCRIPTION' | _ }}
							</p>
						</div>
						<div class="tab-about">
							<ul class="tab-list-about">
								<li class="active">{{'CAAT' | _ }}</li>
							</ul>
							<div class="content-tab">
								<div class="content-inner">
									<h6 class="mb-3">{{ 'CAMBRIDGE ASSESSMENT ADMISSION TESTING' | _ }}</h6>
									<p>{{ 'CAMBRIDGE ASSESSMENT ADMISSION TESTING DESCRIPTION' | _ }}</p>
								</div>
								<div class="content-inner">
									<p>
										In addition to studying at the Spectrum International School, you can pass international exams for admission to foreign universities. This opportunity opens up not only for Spectrum students, but also for external students on a paid basis. You can leave your details or contact us for a full consultation
										<br>
										Please contact the Examinations Officer for any information at examsofficer@spectrum.edu.kz
									</p>
								</div>
								<div class="content-inner">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
									<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
								</div>
								<div class="content-inner">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
									<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
									<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="flat-row flat-counter background style1">
			<div class="container">
				<div class="wrap-counter style1 v2">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="square">
								<div class="numb-count" data-from="0" data-to="90" data-speed="2000" data-waypoint-active="yes">
									{{ 'main_stat_count_one' | _ }}
								</div>
								<div class="text color-default">
									{{ 'main_stat_title_one' | _ }}
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="square">
								<div class="numb-count" data-from="0" data-to="90" data-speed="2000" data-waypoint-active="yes">
									{{ 'main_stat_count_two' | _ }}
								</div>
								<div class="text color-default">
									{{ 'main_stat_title_two' | _ }}
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="square">
								<div class="numb-count" data-from="0" data-to="90" data-speed="2000" data-waypoint-active="yes">
									{{ 'main_stat_count_three' | _ }}
								</div>
								<div class="text color-default">
									{{ 'main_stat_title_three' | _ }}
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="square">
								<div class="numb-count" data-from="0" data-to="90" data-speed="2000" data-waypoint-active="yes">
									{{ 'main_stat_count_four' | _ }}
								</div>
								<div class="text color-default">
									{{ 'main_stat_title_four' | _ }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		{% component 'newsSmallPosts' %}
		
		<section class="parallax parallax8" style="background-image: url( {{ url('/') }}{{ 'campus/campus2.jpg' | media }} );">
			<div class="flat-video-fancybox">
                <a class="fancybox" data-type="iframe" href="{{ 'youtube_promo_1' | _ }}"> 
                    <!-- <img src="images/parallax/bg-08.jpg" alt="images"> -->
                </a>
            </div>
		</section>

		<section class="flat-team style7">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="top-title center style1 v2">
							<div class="top-post">
								{{'GRADUATES DESCRIPTION' | _ }}
							</div>
							<p class="sub-title">{{'GRADUATES' | _ }}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="container set-width">
				<div class="row">
					<div class="team-member style1">
						<div class="avatar">
							<img src="https://spectrum.edu.kz/uploads/staff/XyMbMw5aFwqhctDPZCytplZCpMcVY0lXhZELQIa9.jpeg" alt="">
						</div>
						<div class="info">
							<div class="name">
								<a href="javascript:void(0)" title="">Alizhan Askargaliyev</a>
							</div>
							<div class="option">
								UCL
							</div>
						</div>
					</div>
					<div class="team-member style1">
						<div class="avatar">
							<img src="https://spectrum.edu.kz/uploads/staff/XyMbMw5aFwqhctDPZCytplZCpMcVY0lXhZELQIa9.jpeg" alt="">
						</div>
						<div class="info">
							<div class="name">
								<a href="javascript:void(0)" title="">Alizhan Askargaliyev</a>
							</div>
							<div class="option">
								UCL
							</div>
						</div>
					</div>
					<div class="team-member style1 big">
						<div class="avatar">
							<img src="https://spectrum.edu.kz/uploads/staff/XyMbMw5aFwqhctDPZCytplZCpMcVY0lXhZELQIa9.jpeg" alt="">
						</div>
						<div class="info">
							<div class="name">
								<a href="javascript:void(0)" title="">Alizhan Askargaliyev</a>
							</div>
							<div class="option">
								UCL
							</div>
						</div>
					</div>
					<div class="team-member style1">
						<div class="avatar">
							<img src="https://spectrum.edu.kz/uploads/staff/XyMbMw5aFwqhctDPZCytplZCpMcVY0lXhZELQIa9.jpeg" alt="">
						</div>
						<div class="info">
							<div class="name">
								<a href="javascript:void(0)" title="">Alizhan Askargaliyev</a>
							</div>
							<div class="option">
								UCL
							</div>
						</div>
					</div>
					<div class="team-member style1">
						<div class="avatar">
							<img src="https://spectrum.edu.kz/uploads/staff/XyMbMw5aFwqhctDPZCytplZCpMcVY0lXhZELQIa9.jpeg" alt="">
						</div>
						<div class="info">
							<div class="name">
								<a href="javascript:void(0)" title="">Alizhan Askargaliyev</a>
							</div>
							<div class="option">
								UCL
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="style3 v1">
			<div class="container">
				<div class="row footer-top">
					<div class="col-lg-6">
						<div class="contact-classic">
							<h2>{{'Get in touch with us' | _ }}</h2>
							<ul class="flat-contact">
								<li class="phone">
									<p class="phone">{{'official_phone_number' |_ }}</p>
									<p class="email">{{'official_email' |_ }}</p>
								</li>
								<li class="address">
									<p>{{'official_address' |_ }}</p>
								</li>
								<li class="open-hours">
									<p>{{'open hours' |_ }}: {{'official_open_hours' |_ }}</p>
								</li>
							</ul>
						</div><!-- /.contact-classic -->
					</div><!-- /.col-lg-6 -->
					<div class="col-lg-6">
						<a class="dg-widget-link" href="http://2gis.kz/nur_sultan/firm/70000001024311451/center/71.47863864898683,51.12727652775371/zoom/17?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть на карте Нур-Султана</a>
						<div class="dg-widget-link">
							<a href="http://2gis.kz/nur_sultan/firm/70000001024311451/photos/70000001024311451/center/71.47863864898683,51.12727652775371/zoom/17?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=photos">Фотографии компании</a>
						</div>
						<div class="dg-widget-link">
							<a href="http://2gis.kz/nur_sultan/center/71.478006,51.12762/zoom/17/routeTab/rsType/bus/to/71.478006,51.12762╎SPECTRUM INTERNATIONAL SCHOOL?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти проезд до SPECTRUM INTERNATIONAL SCHOOL</a>
						</div>
						<script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js"></script>
						<script charset="utf-8">new DGWidgetLoader({"width":'100%',"height": 280,"borderColor":"#a3a3a3","pos":{"lat":51.12727652775371,"lon":71.47863864898683,"zoom":17},"opt":{"city":"nur_sultan"},"org":[{"id":"70000001024311451"}]});
						</script>
						<noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>
					</div><!-- /.col-lg-6 -->
				</div>
			</div>
		</section>