title = "Контакты"
url = "/contact-us"
layout = "base/default"
is_hidden = 0

[contactForm]
==
		<section class="page-title parallax parallax2" style="background-position: 30% 40px;background-image: url({{ url('/') }}{{'bgs/bg.jpeg' | media}});">
			<div class="title-heading">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="box-title style1">
								<h1>
									{{ 'word_contact_us' |_ }}
								</h1>
								<div class="breadcrumbs">
									<ul>
										<li>
											<a href="{{ url('/') }}" title="">
												{{ 'word_home' |_ }}
											</a>
											<i class="fa fa-angle-right" aria-hidden="true"></i>
										</li>
										<li>
											<a title="">{{ 'word_contact_us' |_ }}</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="overlay-black"></div>
		</section>
		<div class="divider105"></div>

		<div class="flat-contact-classic">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="contact-classic">
							<h2 class="font-weight-3">{{'word_get_in_touch_with_us' |_ }}</h2>
							<ul class="flat-contact">
								<li class="phone">
									<p class="phone">{{'official_phone_number' |_ }}</p>
									<p class="email">{{'official_email' |_ }}</p>
								</li>
								<li class="address">
									<p>{{'official_address' |_ }}</p>
								</li>
								<li class="open-hours">
									<p>{{'open hours' |_ }}: {{'official_open_hours' |_ }}</p>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6">
						<a class="dg-widget-link" href="http://2gis.kz/nur_sultan/firm/70000001024311451/center/71.47863864898683,51.12727652775371/zoom/17?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть на карте Нур-Султана</a>
						<div class="dg-widget-link">
							<a href="http://2gis.kz/nur_sultan/firm/70000001024311451/photos/70000001024311451/center/71.47863864898683,51.12727652775371/zoom/17?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=photos">Фотографии компании</a>
						</div>
						<div class="dg-widget-link">
							<a href="http://2gis.kz/nur_sultan/center/71.478006,51.12762/zoom/17/routeTab/rsType/bus/to/71.478006,51.12762╎SPECTRUM INTERNATIONAL SCHOOL?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти проезд до SPECTRUM INTERNATIONAL SCHOOL</a>
						</div>
						<script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js"></script>
						<script charset="utf-8">new DGWidgetLoader({"width":'100%',"height": 280,"borderColor":"#a3a3a3","pos":{"lat":51.12727652775371,"lon":71.47863864898683,"zoom":17},"opt":{"city":"nur_sultan"},"org":[{"id":"70000001024311451"}]});
						</script>
						<noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>
					</div>
				</div>
			</div>
		</div>

		<section class="flat-contact-form style4">
			<div class="container">
				<div class="row">
					<div class="form-contact-form style3 three v3">
					    {% component 'contactForm' %}
					</div>
				</div>
			</div>
		</section>

		<style type="text/css">
			.noradius{
				border-radius: 0px !important;
			}
		</style>

		<section class="flat-partner background">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<ul class="owl-carousel">
							<li>
								<img src="https://spectrum.edu.kz/uploads/logo/DhDt5Ybhn5rQmI06qiaFS4qNGsrVAqzX9uQd9vdb.png" alt="">
							</li>
							<li>
								<img src="https://spectrum.edu.kz/uploads/logo/DhDt5Ybhn5rQmI06qiaFS4qNGsrVAqzX9uQd9vdb.png" alt="">
							</li>
							<li>
								<img src="https://spectrum.edu.kz/uploads/logo/DhDt5Ybhn5rQmI06qiaFS4qNGsrVAqzX9uQd9vdb.png" alt="">
							</li>
							<li>
								<img src="https://spectrum.edu.kz/uploads/logo/DhDt5Ybhn5rQmI06qiaFS4qNGsrVAqzX9uQd9vdb.png" alt="">
							</li>
							<li>
								<img src="https://spectrum.edu.kz/uploads/logo/DhDt5Ybhn5rQmI06qiaFS4qNGsrVAqzX9uQd9vdb.png" alt="">
							</li>
							<li>
								<img src="https://spectrum.edu.kz/uploads/logo/DhDt5Ybhn5rQmI06qiaFS4qNGsrVAqzX9uQd9vdb.png" alt="">
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>