title = "Новости"
url = "/news"
layout = "base/default"
is_hidden = 0

[newsPosts]
pageNumber = "{{ :page }}"
postsPerPage = 15
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
postFeatured = 0
postPage = 404
categoryPage = 404

[newsCategories]
noPostsMessage = "No posts found"
==
<section class="page-title parallax parallax1" style="background-position: 30% 40px; background-image: url({{ url('/') }}{{'all/bg1.jpg' | media}});">>
	<div class="title-heading">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="box-title">
						<h1 class="text-white">
							{{ 'word_news' |_ }}
						</h1>
						<div class="breadcrumbs">
							<ul>
								<li>
									<a href="{{ url('/') }}" title="" class="text-white">
										{{ 'word_home' |_ }}
									</a>
									<i class="fa fa-angle-right text-white" aria-hidden="true"></i>
								</li>
								<li>
									<a title="" class="text-white">{{ 'word_news' |_ }}</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div class="overlay-black"></div>
</section>

<section id="main-blog">
	<div class="container">
		<div class="row">
			{% component 'newsPosts' %}
			
			<div class="col-md-3" style="display: none;">
				<div class="sidebar">
					<div class="widget widget-categories">
						<div class="widget-title">
							<h3>{{'Categories' | _ }}</h3>
						</div>
						<div class="widget-content">
						    {% component 'newsCategories' %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>