title = "О школе"
url = "/about-school"
layout = "base/default"
is_hidden = 0

[testimonials]

[newsSmallPosts]
pageNumber = "{{ :page }}"
postsPerPage = 3
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
postFeatured = 0
postPage = 404
categoryPage = 404
==
{% component 'testimonials' %}
    
    <section class="flat-history" style="padding-bottom: 30px;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="flat-title padding-1">
						<h3>{{'CAMPUS' | _ }}</h3>
						<p class="sub-title">
							{{'CAMPUS_DESCRIPTION' | _ }}
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="flat-old-year">
						<ul class="list-year">
							<li>
								<span class="dot heartbit"></span>
								<p class="date"><i class="ti-timer"></i> {{ 'history_list_date' | _ }}</p>
								<div class="event">
									<h4>{{ 'history_list_title' | _ }}</h4>
									<p> {{ 'history_list_description' | _ }}</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6">
					<div class="history-video" style="margin-top: 20px;">
						<div class="flat-video-fancybox">
	                        <a class="fancybox" data-type="iframe" href="{{ 'youtube_promo' | _ }}"> 
	                            <img src="{{ url('/') }}{{ 'campus/campus3.jpg' | media }}" alt="images">
	                        </a>
	                    </div>
	                    <div class="text-video">
	                    	{{ 'video_description' | _ }}
	                    </div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="flat-imagebox style7">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="top-title center">
						<div class="top-post">
							{{'CAMPUS ADVANTAGES' | _ }}
						</div>
						<p class="font-size-24 line-height-36 color-black sub-title">
							{{'CAMPUS ADVANTAGES DESCRIPTION' | _ }}
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<div class="imagebox style2 v1">
						<div class="imagebox-image">
							<img src="{{ url('/') }}{{ 'campus/campus.jpg' | media }}" alt="">
						</div>
						<h6 class="font-size-16">{{ 'CAMPUS ADVANTAGES no1' | _ }}</h6>
						<div class="imagebox-content">
							<h6 class="font-size-16">{{ 'CAMPUS ADVANTAGES no1' | _ }}</h6>
							<p>{{ 'CAMPUS ADVANTAGES no1 description' | _ }}</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="imagebox style2 v1">
						<div class="imagebox-image">
							<img src="{{ url('/') }}{{ 'campus/campus4.jpg' | media }}" alt="">
						</div>
						<h6 class="font-size-16">{{ 'CAMPUS ADVANTAGES no2' | _ }}</h6>
						<div class="imagebox-content">
							<h6 class="font-size-16">{{ 'CAMPUS ADVANTAGES no2' | _ }}</h6>
							<p>{{ 'CAMPUS ADVANTAGES no2 description' | _ }}</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="imagebox style2 v1">
						<div class="imagebox-image">
							<img src="{{ url('/') }}{{ 'campus/campus6.jpg' | media }}" alt="">
						</div>
						<h6 class="font-size-16">{{ 'CAMPUS ADVANTAGES no3' | _ }}</h6>
						<div class="imagebox-content">
							<h6 class="font-size-16">{{ 'CAMPUS ADVANTAGES no3' | _ }}</h6>
							<p>{{ 'CAMPUS ADVANTAGES no3 description' | _ }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="flat-row flat-counter background style1">
		<div class="container">
			<div class="wrap-counter style1 v2">
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="square">
							<div class="numb-count" data-from="0" data-to="90" data-speed="2000" data-waypoint-active="yes">
								{{ 'main_stat_count_one' | _ }}
							</div>
							<div class="text color-default">
								{{ 'main_stat_title_one' | _ }}
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="square">
							<div class="numb-count" data-from="0" data-to="90" data-speed="2000" data-waypoint-active="yes">
								{{ 'main_stat_count_two' | _ }}
							</div>
							<div class="text color-default">
								{{ 'main_stat_title_two' | _ }}
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="square">
							<div class="numb-count" data-from="0" data-to="90" data-speed="2000" data-waypoint-active="yes">
								{{ 'main_stat_count_three' | _ }}
							</div>
							<div class="text color-default">
								{{ 'main_stat_title_three' | _ }}
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="square">
							<div class="numb-count" data-from="0" data-to="90" data-speed="2000" data-waypoint-active="yes">
								{{ 'main_stat_count_four' | _ }}
							</div>
							<div class="text color-default">
								{{ 'main_stat_title_four' | _ }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% component 'newsSmallPosts' %}
	{% partial 'general/carusel02' %}