title = "Поступление"
url = "/admission"
layout = "base/default"
is_hidden = 0
==

		<section class="flat-iconbox" style="padding-top: 60px;">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="top-title center style1 v2">
							<div class="top-post">
								{{ 'Admissions' |_ }}
							</div>
							<p class="sub-title">
								{% content 'admission/main' %}
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div class="divider100"></div>

		<section class="parallax parallax10 style1" style="background-position: 50% 74px;">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="testimonial text-left">
							<div class="testimonial-item style4 v1 text-left">
								<div class="box-about mb-2">
									<h4 class="text-white">{{'DOCUMENTS FOR ADMISSION' |_ }}</h4>
								</div>
								<p class="color-white">
									{% content 'admission/documents' %}
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="overlay"></div>
		</section>

		<div class="divider100"></div>

		<section class="flat-our-mission">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="box-mission">
							<h3>{{'PRICING POLICY' | _ }}</h3>
							<div class="text-content">
								<p>
									{% content 'academic/prices' %}
								</p>
								<div class="read-more">
									<a href="{{ url('/') }}/prices" class="btn-primary" style="background-color: #163151; box-shadow: none;" title="">{{'Learn more' | _ }}</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="history-video style1">
							<div class="flat-video-fancybox">
								<div class="image">
									<img src="{{ url('/') }}{{ 'all/bg2.jpg' | media }}" alt="">
								</div>
	                        </div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div class="divider100"></div>

		<section class="flat-actions style3 bg-green">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="call-action style3 bg-transparent">
							<div class="text-action float-left">
								<h4 class="color-white font-weight-3">{{'Have questions?' | _ }}</h4>
								<p>{{'Have questions? description' | _ }}</p>
							</div>
							<div class="form-action float-right">
								<a href="{{ url('/')}}/contact-us" class="btn btn-primary color-white">{{ 'Contact us' |_ }}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		{% partial 'general/carusel02' %}
		

