title = "Prices"
url = "/prices"
layout = "base/default"
is_hidden = 0
==
<section class="flat-iconbox" style="padding-top: 60px;">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="top-title center style1 v2">
							<div class="top-post">
								{{ 'ЦЕНОВАЯ ПОЛИТИКА' |_ }}
							</div>
							<p class="sub-title">
								{% content 'price/main' %}
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="flat-jobs" style="padding-top: 60px;">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="main-jobs">
							<div class="header-jobs">
								<div class="jobs-title">
									<h2>{{ 'ЦЕНОВАЯ ПОЛИТИКА' |_ }}</h2>
									
								</div>
							</div>
							<div class="content-jobs">
								<div class="box-jobs">
									<h5>{{ 'FEES' |_ }}</h5>
									<p>
										{% content 'price/fees' %}
									</p>
								</div>
								<div class="box-jobs background icon style1">
									<h5>{{'Key Points'|_}}</h5>
									{% content 'price/keypoints' %}
									
								</div>
								<div class="box-jobs icon">
									<div class="row">
										<div class="col-md-6 col-sm-12">
											<div class="box-jobs">
												<h5>{{ 'SCHOOL UNIFORM' | _ }}</h5>
												<p>
													{% content 'price/uniform' %}
												</p>
											</div>
										</div>
										<div class="col-md-6 col-sm-12">
											<div class="image text-center">
												<img src="{{ url('/') }}{{ 'all/bg3.jpg' | media }}" alt="">
											</div>
										</div>
									</div>
									<h5 class="mt-4">{{'DISCOUNTS' | _ }}</h5>
									<p>
										{% content 'price/discounts' %}
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>