title = "Primary"
url = "/primary"
layout = "base/default"
is_hidden = 0
==
	
		<section class="flat-iconbox" style="padding-top: 60px;">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="top-title center style1 v2">
							<div class="top-post">
								{{ 'Primary' |_ }}
							</div>
							<p class="sub-title">
								{% content 'primary/main' %}
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div class="divider100"></div>

		<section class="flat-tabs style1">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="tab-about style2 v1">
							<ul class="tab-list-about">
								<li class="active tab-item active">
									<div class="box-header background no-border">
				 						<div class="icon">
											<span class="ti-ruler-pencil"></span>
										</div>
										<div class="box-title">
											<h6>{{'Основные <br> предметы' |_}}</h6>
										</div>
									</div>
								</li>
								<li class="tab-item">
									<div class="box-header background no-border">
										<div class="icon">
											<span class="ti-desktop"></span>
										</div>
										<div class="box-title">
											<h6>{{'Основные <br> экзамены' | _ }}</h6>
										</div>
									</div>
								</li>
								<li class="tab-item">
									<div class="box-header background no-border">
										<div class="icon">
											<span class="ti-target"></span>
										</div>
										<div class="box-title">
											<h6>{{'Приемная ' | _ }}</h6>
										</div>
									</div>
								</li>
							</ul>
							<div class="content-tab">
								<div class="content-inner overflow">
									<div class="one-half">
										<div class="image-tabs">
											<img class="border-radius-5" src="{{ url('/') }}{{ 'all/bg5.jpg' | media }}" alt="">
										</div>
									</div>
									<div class="one-half">
										<div class="text-tabs">
											<h5>{{'Основные предметы' |_}}</h5>
											<div class="text-content">
												<p>
													{% content 'primary/subjects' %}
												</p>
											</div>
										</div>
									</div>
								</div>
								<div class="content-inner overflow">
									<div class="one-half">
										<div class="text-tabs">
											<h5>{{'Основные экзамены' | _ }}</h5>
											<div class="text-content">
												<p>
													{% content 'primary/exams1' %}
												</p>
											</div>
										</div>
									</div>
									<div class="one-half">
										{% content 'primary/exams2' %}
									</div>
								</div>
								<div class="content-inner overflow">
									<div class="row">
										<div class="col-12 text-tabs">
											<h5>{{'Приемная' | _ }}</h5>
											<div class="text-content">
												<p>{% content 'primary/admintion' %}</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div class="divider100"></div>

		<section class="flat-our-mission">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="history-video style1">
							<div class="flat-video-fancybox">
	                            <div class="image">
									<img src="{{ url('/') }}{{ 'all/bg1.jpg' | media }}" alt="">
								</div>
	                        </div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="box-mission">
							<h3>{{'ACCREDITATION' | _ }}</h3>
							<div class="text-content">
								<p>
									{% content 'academic/accreditation' %}
								</p>
								<div class="read-more">
									<a href="{{ url('/') }}/accreditation" class="btn-primary" style="background-color: #163151; box-shadow: none;" title="">{{'Learn more' | _ }}</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<div class="divider100"></div>

		<section class="flat-actions style3 bg-green">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="call-action style3 bg-transparent">
							<div class="text-action float-left">
								<h4 class="color-white font-weight-3">{{'Have questions?' | _ }}</h4>
								<p>{{'Have questions? description' | _ }}</p>
							</div>
							<div class="form-action float-right">
								<a href="{{ url('/')}}/contact-us" class="btn btn-primary color-white">{{ 'Contact us' |_ }}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		{% partial 'general/carusel02' %}