title = "Программы"
url = "/academics"
layout = "base/default"
is_hidden = 0
==
<section class="flat-iconbox" style="padding-top: 60px;">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="top-title center style1 v2">
							<div class="top-post">
								{{ 'Academics' |_ }}
							</div>
							<p class="sub-title">
								{% content 'academic/main' %}
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="flat-imagebox style2 background">
			<div class="container">
				<div class="row" style="display: none;">
					<div class="col-md-12">
						<div class="flat-title">
							<h3 class="font-weight-3">School</h3>
							<p class="sub-title">Our creative specialists work on an international level at branding, design and development. Both online and offline.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="imagebox style2">
							<div class="imagebox-image">
								<img src="{{ url('/') }}{{ 'sis/primary.jpg' | media }}" alt="">
							</div>
							<div class="imagebox-content">
								<h6>
									<a href="{{ url('/') }}/primary" title="">Primary School</a>
								</h6>
								<p>Cambridge Primary: 5-10 years</p>
								<div class="more-link">
									<a href="{{ url('/') }}/primary" title="">{{'Learn more' | _ }}</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="imagebox style2">
							<div class="imagebox-image">
								<img src="{{ url('/') }}{{ 'sis/secondary.jpg' | media }}" alt="">
							</div>
							<div class="imagebox-content">
								<h6><a href="{{ url('/') }}/secondary" title="">Lower Secondary</a></h6>
								<p>Cambridge Secondary: 11-15 years.</p>
								<div class="more-link">
									<a href="{{ url('/') }}/primary" title="">{{'Learn more' | _ }}</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="imagebox style2">
							<div class="imagebox-image">
								<img src="{{ url('/') }}{{ 'sis/icg.jpg' | media }}" alt="">
							</div>
							<div class="imagebox-content">
								<h6><a href="{{ url('/') }}/igcse" title="">IGCSE</a></h6>
								<p>Cambridge IGCSE: 16-17 years.</p>
								<div class="more-link">
									<a href="{{ url('/') }}/igcse" title="">{{'Learn more' | _ }}</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div class="divider100"></div>

		<section class="flat-our-mission">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="history-video style1">
							<div class="flat-video-fancybox">
	                            <div class="image">
									<img src="{{ url('/') }}{{ 'all/bg1.jpg' | media }}" alt="">
								</div>
	                        </div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="box-mission">
							<h3>{{'ACCREDITATION' | _ }}</h3>
							<div class="text-content">
								<p>
									{% content 'academic/accreditation' %}
								</p>
								<div class="read-more">
									<a href="{{ url('/') }}/accreditation" class="btn-primary" style="background-color: #163151; box-shadow: none;" title="">{{'Learn more' | _ }}</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div class="divider100"></div>

		<section class="flat-actions style3 bg-green">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="call-action style3 bg-transparent">
							<div class="text-action float-left">
								<h4 class="color-white font-weight-3">{{'Have questions?' | _ }}</h4>
								<p>{{'Have questions? description' | _ }}</p>
							</div>
							<div class="form-action float-right">
								<a href="{{ url('/')}}/contact-us" class="btn btn-primary color-white">{{ 'Contact us' |_ }}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		{% partial 'general/carusel02' %}