title = "STUDENT COUNCIL"
url = "/student-council"
layout = "base/default"
is_hidden = 0
==
use Cms\Classes\Theme;
function onStart()
{
    $items     = [ ];
    // media dir
    $files     = File::allFiles( 'storage/app/media/gallery/' );
    // OR from theme dir
    // $theme_dir = Theme::getActiveTheme()->getDirName();
    // $files     = File::allFiles( themes_path( $theme_dir ) . '/assets/images/gallery/' );

    foreach ($files as $item) {
        $items[] = $item->getFilename();
    }

    rsort($items, SORT_NUMERIC); // Bigest file number first
    // $items = array_slice($items,0,20); // if you want a limit

    $this['gallery'] = $items;
}
?>
==

	<section class="flat-jobs pb-0 pt-4">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="main-jobs">
						<div class="header-jobs">
							<div class="box-jobs">
								<h3>{{'Student council' |_ }}</h3>
								<p class="mt-4">{% content 'council/main' %}</p>
							</div>
						</div>
						<div class="content-jobs">
							<div class="box-jobs">
								<h5>{{'Adam atina - chair of the student council' |_ }}</h5>
								<p>{% content 'council/adamatina' %}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="flat-portfolio style1 pt-0">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="sort-product style2" style="display: none;">
						<ul class="tab-product-list center">
							<li class="active" data-filter="*">All Works</li>
							<li data-filter=".marketing">Marketing</li>
							<li data-filter=".digital">Digital</li>
							<li data-filter=".photo">Photography</li>
						</ul>
					</div>
					<div class="wrap-portfolio no-padding grid">
						{% for image in gallery %}
						<div class="portfolio-item one-third left ipsotope digital">
							<div class="portfolio-image">
								<img src="{{ url('/') }}/storage/app/media/gallery/{{image}}" alt="">
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>