{% for item in items if not item.viewBag.isHidden %}
    <li class="{{ item.isActive ? 'active' : '' }} {{ item.isChildActive ? 'has-menu-mega' : '' }} {{ item.viewBag.cssClass }}">
        {% if item.url %}
            <a href="{{ item.url }}" title="{{ item.title }}" {{ item.viewBag.isExternal ? 'target="_blank"' }}>
                {{ item.title }}
            </a>
        {% else %}
            <a href="javascript:void(0)">{{ item.title }}</a>
        {% endif %}

        {% if item.items %}
            <div class="submenu">
                <ul>
                    {% partial __SELF__ ~ "::items" items=item.items %}
                </ul>
            </div>
        {% endif %}
    </li>
{% endfor %}