<p>As a first step, parents can visit the Spectrum International School campus. This can be done by filling out the &nbsp;form below. Parents who are unable to complete the campus visit form can call the admissions office and make an appointment by phone.</p>

<p>&nbsp;</p>

<p>Either while visiting the campus, or later, prospective students take an assessment; the type of assessment depends on the age.</p>