<p>The core subjects in Secondary school are English, Mathematics, Science, History and Geography.&nbsp;</p>

<p>Other subjects include ICT, Music, Art and Design, Physical Education, and Turkish.</p>