{% set clubs = __SELF__.clubs %}

<section id="main-blog">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div class="wrap-post">
					<div class="grid two style1">
						{% for club in clubs %}
						<article class="blog-post">
							<div class="featured-post">
								<img src="{{ url('/') }}{{ club.image|media }}" alt="">
							</div>
							<div class="entry-post-title">
								<div class="post-title">											
									<h2>
										{{ club.title }}
									</h2>
								</div>
								<div style="justify-content: all;" class="mt-3">
									{{ club.description|raw }}
								</div>
							</div>
						</article>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>