<p><span lang="ru"><span data-language-for-alternatives="ru" data-language-to-translate-into="en" data-phrase-index="0">Международная школа Spectrum (Spectrum) - это новое название Международной школы Nurorda (NIS). Это некоммерческая частная дневная школа, действующая под эгидой фонда BILIM ORDA, ранее известного как KATEV, который с начала 1990-х годов управляет сетью финансируемых государством учебных заведений по всему Казахстану. После успешной работы этих учреждений BILIM ORDA приняла решение инициировать запуск нового проекта, направленного на содействие динамично растущему рынку образования в Казахстане. А в начале 2000-х годов при поддержке общества «БИЛИМ ОРДА» приступило к строительству специально построенного школьного здания площадью 20 000 м2 в самом центре Нур-Султана, новой оживленной столицы Казахстана. В 2007 году Президент Назарбаев принял участие в открытии Международного образовательного комплекса «Нурорда» - революционного проекта, положившего начало новому пути к академическому совершенству. Первоначально комплекс предназначался для размещения двух школ, предлагающих местную и международную учебную программу для удовлетворения потребностей англоязычного сообщества, поэтому год спустя, в 2008 году, Spectrum, тогда известная как Nurorda, была создана как отдельная школа. В самом начале Spectrum предлагал учебную программу в британском стиле для ряда учеников только начальной школы.&nbsp;</span></span></p>

<p>
	<br>
</p>

<p><span lang="ru"><span data-language-for-alternatives="ru" data-language-to-translate-into="en" data-phrase-index="0">В 2011 году Spectrum стал Кембриджской международной школой и экзаменационным центром, что позволило ему предлагать такие известные квалификации, как Cambridge Primary и Secondary Checkpoints, IGCSE и A Levels. С дальнейшим постепенным увеличением числа студентов школа выросла и предлагает весь спектр программ и квалификаций Кембриджа для своего разнообразного студенческого контингента. После членского визита в мае 2011 года Spectrum получил постоянное членство в Совете международных школ (СНГ), и на данный момент школа аккредитована в СНГ. В связи с увеличением количества международных школ в Казахстане Министерство образования внесло некоторые поправки в законодательство, дающие особый статус тем международным школам, которые соответствуют особым требованиям.&nbsp;</span></span></p>

<p>
	<br>
</p>

<p><span lang="ru"><span data-language-for-alternatives="ru" data-language-to-translate-into="en" data-phrase-index="0">Этот статус предоставляет утвержденным школам большую академическую свободу и гибкость, чтобы лучше удовлетворять потребности школы, предлагающей международную учебную программу. Spectrum, в свою очередь, была одной из первых школ Казахстана, получивших этот статус.</span></span> </p>