<p><span lang="kk"><span data-language-for-alternatives="kk" data-language-to-translate-into="en" data-phrase-index="0">Spectrum Халықаралық мектебі (Spectrum) - бұл Nurorda Халықаралық мектебінің (NIS) жаңадан өзгертілген атауы. Бұл 90-шы жылдардың басынан бастап бүкіл Қазақстан бойынша бюджеттен қаржыландырылатын білім беру мекемелерінің желісін басқарып келген, бұрын KATEV деп аталған BILIM ORDA қорының қол астында жұмыс істейтін коммерциялық емес күндізгі мектеп. Осы мекемелер сәтті жұмыс істегеннен кейін BILIM ORDA Қазақстандағы қарқынды дамып келе жатқан білім беру нарығына үлес қосуға арналған жаңа жобаны бастау туралы шешім қабылдады. 2000 жылдардың басында қоғамның қолдауымен BILIM ORDA Қазақстанның жаңа жарқын астанасы Нұр-Сұлтанның қақ ортасында 20000 м2 мақсатты мектеп ғимаратының құрылысын бастады. 2007 жылы Президент Назарбаев академиялық шеберлікке жаңа саяхаттың басталуына түрткі болған революциялық жоба - «Нұрорда» халықаралық білім беру кешенінің іске қосылуына қатысты. Кешен бастапқыда ағылшын тілінде сөйлейтін қоғамдастықтың қажеттіліктерін қанағаттандыру үшін жергілікті және халықаралық оқу бағдарламаларын ұсынатын екі мектепті құруды көздеді, сондықтан бір жылдан кейін, 2008 жылы, сол кезде «Нурорда» деп аталған Spectrum жеке мектеп ретінде құрылды.&nbsp;</span></span></p>

<p>
	<br>
</p>

<p><span lang="kk"><span data-language-for-alternatives="kk" data-language-to-translate-into="en" data-phrase-index="0">Ең басында Spectrum британдық типтегі оқу бағдарламасын тек бастауыш деңгейдегі студенттерге ұсынды. 2011 жылы Spectrum Кембридждің Халықаралық мектебі және емтихан орталығы болды, ол Кембридждің бастауыш және орта бақылау бекеттері, IGCSE және A деңгейлері сияқты танымал біліктіліктерді ұсына алды. Оқушылар санының біртіндеп ұлғаюымен мектеп Кембридж бағдарламалары мен біліктіліктерінің барлық спектрін әр түрлі студенттер қауымына ұсына бастады. 2011 жылғы мамырдағы мүшелік сапардан кейін Spectrum Халықаралық мектеп кеңесінің (ТМД) тұрақты мүшелігіне ие болды және қазіргі уақытта мектеп ТМД-да аккредитациядан өтті. Қазақстанда халықаралық мектептер санының артуымен Білім министрлігі нақты талаптарға сәйкес келетін халықаралық мектептер үшін арнайы мәртебе беретін заңнамаға кейбір түзетулер енгізді.&nbsp;</span></span></p>

<p>
	<br>
</p>

<p><span lang="kk"><span data-language-for-alternatives="kk" data-language-to-translate-into="en" data-phrase-index="0">Бұл мәртебе мақұлданған мектептерге академиялық еркіндік пен икемділікті ұсынады, осылайша халықаралық оқу бағдарламасын ұсынатын мектептің қажеттіліктерін қанағаттандырады. Spectrum өз кезегінде Қазақстандағы бұл мәртебеге ие болған алғашқы мектептердің бірі болды.</span></span> </p>