<p>Spectrum International School (Spectrum) is a newly rebranded name of Nurorda International School (NIS). It is a non-profit private day school executing under the umbrella of BILIM ORDA Foundation, formerly known as KATEV, that has run a network of publicly funded educational institutions all over Kazakhstan since the early 1990s. After the successful operation of these institutions, BILIM ORDA made a decision to initiate the start of a new project dedicated to contributing to the dynamically growing market of education in Kazakhstan. And in the early 2000s with the support of the community, BILIM ORDA began the construction of a 20,000 m2 purpose-built school building in the heart of Nur-Sultan, the new vibrant capital of Kazakhstan. In 2007 President Nazarbayev took part in the launching of Nurorda International Educational Complex, a revolutionary project that triggered the start of a new journey to academic excellence. The complex initially meant to host two schools offering local and international curriculum to meet the needs of the English-speaking community and, therefore, a year later, in 2008, Spectrum, then known as Nurorda, was set up as a separate school. At the very beginning, Spectrum offered a British-style curriculum to a number of students at a Primary level only.&nbsp;</p>

<p>
	<br>
</p>

<p>In 2011 Spectrum became a Cambridge International School and Exam Centre that enabled it to offer such renowned qualifications as Cambridge Primary and Secondary Checkpoints, IGCSEs, and A Levels. With the further gradual increase in student numbers, the school has grown to offer the whole range of Cambridge programmes and qualifications to its diverse student body. Following the membership visit in May 2011, Spectrum was granted a regular membership to the Council of International School (CIS) and at the moment the school is accredited by CIS. With the increase in numbers of international schools in Kazakhstan, the Ministry of Education introduced some amendments to the legislation issuing a special status to those international schools that meet specific requirements.&nbsp;</p>

<p>
	<br>
</p>

<p>This status provides the approved schools with more academic freedom and flexibility so as to better cater to the needs of a school offering an international curriculum. Spectrum, in its turn, was among the first schools in Kazakhstan to be awarded this status. </p>