<p>As a first step, parents can visit the Spectrum International School campus of their choice. This can be done by filling out the form below and the reception manager will contact you to agree on the time and date of the meeting. Parents who are unable to complete the campus visit form can call the admissions office and make an appointment by phone.</p>

<p>&nbsp;</p>

<p>You need to sign up for an entrance assessment. This assessment is the basis for enrolling students in specific classes.</p>