<p>All classes from Grades 2-5 are assessed anually using the Cambridge Primary Progression assessments. Check Points are conducted at the end of Grade 5.</p>

<p>Each term, student learning is assessed on a regular basis depending on the number of units completed in the term.</p>

<p>Data from the term Grades and assessments is used by teachers to establish individual learning plans for those who need to improve and lesson planning for the next term is drawn up to improve the academic performance of each child. Student performance is regularly discussed with parents.</p>